In [1]:
import pandas as pd
import numpy as np
import os
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
data_estimates_male = pd.read_excel("./data/WPP2022_POP_F02_2_POPULATION_5-YEAR_AGE_GROUPS_MALE.xlsx", header=16)
data_projections_male = pd.read_excel("./data/WPP2022_POP_F02_2_POPULATION_5-YEAR_AGE_GROUPS_MALE.xlsx", sheet_name="Medium variant", header=16)

data_estimates_female = pd.read_excel("./data/WPP2022_POP_F02_3_POPULATION_5-YEAR_AGE_GROUPS_FEMALE.xlsx", header=16)
data_projections_female = pd.read_excel("./data/WPP2022_POP_F02_3_POPULATION_5-YEAR_AGE_GROUPS_FEMALE.xlsx", sheet_name="Medium variant", header=16)

In [3]:
projections_estimates_male = pd.concat([data_estimates_male, data_projections_male])
projections_estimates_female = pd.concat([data_estimates_female, data_projections_female])

In [4]:
UN_countries_set = set(projections_estimates_male["Region, subregion, country or area *"])

In [5]:
drop_list = ["Notes", "Location code", "ISO3 Alpha-code", "ISO2 Alpha-code", "SDMX code**", "Type", "Parent code"]
projections_estimates_male = projections_estimates_male.drop(columns = drop_list)
projections_estimates_female = projections_estimates_female.drop(columns = drop_list)

In [6]:
def country_data_extraction(country):
    if country not in UN_countries_set:
        print('Country is not the UN name of a specific jurisdiction.') 
    else:
    
        male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == f'{country}']
        female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == f'{country}']

        male_pop_estimates_T = male_pop_estimates.iloc[:,4:].T
        female_pop_estimates_T = female_pop_estimates.iloc[:,4:].T
        pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
    
        male_values_list = []
        male_ages_list = []
        for i in male_pop_estimates_T.columns:
            male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            male_temp_values_list = male_pop_estimates_T[i].to_list()
            male_values_list = male_values_list + male_temp_values_list
            male_ages_list = male_ages_list + male_temp_ages_list

        male_values_np_array = np.array(male_values_list)
        male_values_list = list(-male_values_np_array)
    
        female_values_list = []
        female_ages_list = []
        for i in female_pop_estimates_T.columns:
            female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            female_temp_values_list = female_pop_estimates_T[i].to_list()
            female_values_list = female_values_list + female_temp_values_list
            female_ages_list = female_ages_list + female_temp_ages_list

        year_list = []
        country_list = []
        male_list = []
        female_list = []
        for i in range(1950,2101):
            for j in range(0,21):
                year_list.append(i)
                country_list.append(f'{country}')
                male_list.append('Male')
                female_list.append('Female')

        male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        male_pop_estimates_columns["Time"] = year_list
        male_pop_estimates_columns["Country"] = country_list
        male_pop_estimates_columns["Value"] = male_values_list
        male_pop_estimates_columns["Age"] = male_ages_list
        male_pop_estimates_columns["Sex"] = male_list

        female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        female_pop_estimates_columns["Time"] = year_list
        female_pop_estimates_columns["Country"] = country_list
        female_pop_estimates_columns["Value"] = female_values_list
        female_pop_estimates_columns["Age"] = female_ages_list
        female_pop_estimates_columns["Sex"] = female_list

        pop_estimates_columns_df = pd.concat([male_pop_estimates_columns, female_pop_estimates_columns])
  
        return pop_estimates_columns_df

In [14]:
def country_data_extraction(country):
    try:
        male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == f'{country}']
        female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == f'{country}']

        male_pop_estimates_T = male_pop_estimates.iloc[:,4:].T
        female_pop_estimates_T = female_pop_estimates.iloc[:,4:].T
        pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
    
        male_values_list = []
        male_ages_list = []
        for i in male_pop_estimates_T.columns:
            male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            male_temp_values_list = male_pop_estimates_T[i].to_list()
            male_values_list = male_values_list + male_temp_values_list
            male_ages_list = male_ages_list + male_temp_ages_list

        male_values_np_array = np.array(male_values_list)
        male_values_list = list(-male_values_np_array)
    
        female_values_list = []
        female_ages_list = []
        for i in female_pop_estimates_T.columns:
            female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            female_temp_values_list = female_pop_estimates_T[i].to_list()
            female_values_list = female_values_list + female_temp_values_list
            female_ages_list = female_ages_list + female_temp_ages_list

        year_list = []
        country_list = []
        male_list = []
        female_list = []
        for i in range(1950,2101):
            for j in range(0,21):
                year_list.append(i)
                country_list.append(f'{country}')
                male_list.append('Male')
                female_list.append('Female')

        male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        male_pop_estimates_columns["Time"] = year_list
        male_pop_estimates_columns["Country"] = country_list
        male_pop_estimates_columns["Value"] = male_values_list
        male_pop_estimates_columns["Age"] = male_ages_list
        male_pop_estimates_columns["Sex"] = male_list

        female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        female_pop_estimates_columns["Time"] = year_list
        female_pop_estimates_columns["Country"] = country_list
        female_pop_estimates_columns["Value"] = female_values_list
        female_pop_estimates_columns["Age"] = female_ages_list
        female_pop_estimates_columns["Sex"] = female_list

        pop_estimates_columns_df = pd.concat([male_pop_estimates_columns, female_pop_estimates_columns])
  
        return pop_estimates_columns_df
    except:
        if country not in UN_countries_set:
           raise Exception(f'{country} is not the UN name of a specific jurisdiction.')

In [22]:
selected_countries = ['Afghanistan','Bangladesh','Brazil','China','India','Indonesia','Japan','Mexico','Nigeria','Pakistan','Republic of Korea','Russian Federation','United States of America' ]

selected_countries_ls = list()
selected_countries_df_ls = list()

In [23]:
for country in selected_countries:
    selected_countries_ls.append(f'{country}_pop_estimates_df')

for country, country_df in zip(selected_countries, selected_countries_ls):
    country_df = country_data_extraction(country)
    selected_countries_df_ls.append(country_df)

In [24]:
print(selected_countries_ls)

['Afghanistan_pop_estimates_df', 'Bangladesh_pop_estimates_df', 'Brazil_pop_estimates_df', 'China_pop_estimates_df', 'India_pop_estimates_df', 'Indonesia_pop_estimates_df', 'Japan_pop_estimates_df', 'Mexico_pop_estimates_df', 'Nigeria_pop_estimates_df', 'Pakistan_pop_estimates_df', 'Republic of Korea_pop_estimates_df', 'Russian Federation_pop_estimates_df', 'United States of America_pop_estimates_df']

In [27]:
print(selected_countries)

['Afghanistan', 'Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Japan', 'Mexico', 'Nigeria', 'Pakistan', 'Republic of Korea', 'Russian Federation', 'United States of America']

In [28]:
print(selected_countries_df_ls)

[      Time  Age     Sex      Value      Country
0     1950    4    Male  -618.4625  Afghanistan
1     1950    9    Male  -496.3265  Afghanistan
2     1950   14    Male  -445.2345  Afghanistan
3     1950   19    Male  -400.1250  Afghanistan
4     1950   24    Male  -360.7690  Afghanistan
...    ...  ...     ...        ...          ...
3166  2100   84  Female  1393.5290  Afghanistan
3167  2100   89  Female   721.3755  Afghanistan
3168  2100   94  Female   260.3050  Afghanistan
3169  2100   99  Female    58.7290  Afghanistan
3170  2100  100  Female     6.7805  Afghanistan

[6342 rows x 5 columns],       Time  Age     Sex      Value     Country
0     1950    4    Male -3304.5255  Bangladesh
1     1950    9    Male -2695.6630  Bangladesh
2     1950   14    Male -2385.0505  Bangladesh
3     1950   19    Male -2093.6355  Bangladesh
4     1950   24    Male -1789.9645  Bangladesh
...    ...  ...     ...        ...         ...
3166  2100   84  Female  5029.2015  Bangladesh
3167  2100   89  Female  4021.2700  Bangladesh
3168  2100   94  Female  2845.0395  Bangladesh
3169  2100   99  Female  1350.5780  Bangladesh
3170  2100  100  Female   345.3600  Bangladesh

[6342 rows x 5 columns],       Time  Age     Sex      Value Country
0     1950    4    Male -4686.9310  Brazil
1     1950    9    Male -3738.2490  Brazil
2     1950   14    Male -3232.0925  Brazil
3     1950   19    Male -2811.3080  Brazil
4     1950   24    Male -2522.0095  Brazil
...    ...  ...     ...        ...     ...
3166  2100   84  Female  5640.1585  Brazil
3167  2100   89  Female  4654.8110  Brazil
3168  2100   94  Female  3119.7545  Brazil
3169  2100   99  Female  1491.3435  Brazil
3170  2100  100  Female   435.6280  Brazil

[6342 rows x 5 columns],       Time  Age     Sex       Value Country
0     1950    4    Male -40526.8110   China
1     1950    9    Male -30164.3170   China
2     1950   14    Male -29073.1795   China
3     1950   19    Male -27570.5835   China
4     1950   24    Male -24051.5355   China
...    ...  ...     ...         ...     ...
3166  2100   84  Female  30939.5530   China
3167  2100   89  Female  29026.2235   China
3168  2100   94  Female  19612.9065   China
3169  2100   99  Female   9405.1580   China
3170  2100  100  Female   3505.2890   China

[6342 rows x 5 columns],       Time  Age     Sex       Value Country
0     1950    4    Male -27330.1840   India
1     1950    9    Male -21411.5365   India
2     1950   14    Male -20064.4950   India
3     1950   19    Male -18461.8485   India
4     1950   24    Male -16847.7380   India
...    ...  ...     ...         ...     ...
3166  2100   84  Female  37422.6970   India
3167  2100   89  Female  29631.0450   India
3168  2100   94  Female  18853.5400   India
3169  2100   99  Female   8575.7680   India
3170  2100  100  Female   2640.7400   India

[6342 rows x 5 columns],       Time  Age     Sex      Value    Country
0     1950    4    Male -5256.2285  Indonesia
1     1950    9    Male -4549.6820  Indonesia
2     1950   14    Male -4353.8245  Indonesia
3     1950   19    Male -3886.0595  Indonesia
4     1950   24    Male -3369.6285  Indonesia
...    ...  ...     ...        ...        ...
3166  2100   84  Female  6568.4730  Indonesia
3167  2100   89  Female  4784.7770  Indonesia
3168  2100   94  Female  2467.7245  Indonesia
3169  2100   99  Female   795.4595  Indonesia
3170  2100  100  Female   161.7150  Indonesia

[6342 rows x 5 columns],       Time  Age     Sex      Value Country
0     1950    4    Male -5785.4710   Japan
1     1950    9    Male -4877.3950   Japan
2     1950   14    Male -4440.8600   Japan
3     1950   19    Male -4387.4895   Japan
4     1950   24    Male -3945.1960   Japan
...    ...  ...     ...        ...     ...
3166  2100   84  Female  2276.3955   Japan
3167  2100   89  Female  2432.1780   Japan
3168  2100   94  Female  2189.4300   Japan
3169  2100   99  Female  1496.2720   Japan
3170  2100  100  Female   671.7865   Japan

[6342 rows x 5 columns],       Time  Age     Sex      Value Country
0     1950    4    Male -2590.6750  Mexico
1     1950    9    Male -1966.6515  Mexico
2     1950   14    Male -1626.4910  Mexico
3     1950   19    Male -1335.7710  Mexico
4     1950   24    Male -1168.4585  Mexico
...    ...  ...     ...        ...     ...
3166  2100   84  Female  3624.0800  Mexico
3167  2100   89  Female  3146.4570  Mexico
3168  2100   94  Female  2099.6275  Mexico
3169  2100   99  Female   946.3385  Mexico
3170  2100  100  Female   258.2065  Mexico

[6342 rows x 5 columns],       Time  Age     Sex      Value  Country
0     1950    4    Male -3138.3440  Nigeria
1     1950    9    Male -2531.9700  Nigeria
2     1950   14    Male -2189.8890  Nigeria
3     1950   19    Male -1901.5210  Nigeria
4     1950   24    Male -1647.4925  Nigeria
...    ...  ...     ...        ...      ...
3166  2100   84  Female  3712.0365  Nigeria
3167  2100   89  Female  1509.8155  Nigeria
3168  2100   94  Female   393.5125  Nigeria
3169  2100   99  Female    56.2700  Nigeria
3170  2100  100  Female     4.1835  Nigeria

[6342 rows x 5 columns],       Time  Age     Sex      Value   Country
0     1950    4    Male -3005.1030  Pakistan
1     1950    9    Male -2630.7565  Pakistan
2     1950   14    Male -2306.3735  Pakistan
3     1950   19    Male -2034.6270  Pakistan
4     1950   24    Male -1790.6475  Pakistan
...    ...  ...     ...        ...       ...
3166  2100   84  Female  6751.2890  Pakistan
3167  2100   89  Female  3849.4500  Pakistan
3168  2100   94  Female  1452.6360  Pakistan
3169  2100   99  Female   315.3925  Pakistan
3170  2100  100  Female    33.8565  Pakistan

[6342 rows x 5 columns],       Time  Age     Sex      Value            Country
0     1950    4    Male -1706.4355  Republic of Korea
1     1950    9    Male -1454.3530  Republic of Korea
2     1950   14    Male -1401.9780  Republic of Korea
3     1950   19    Male  -910.1885  Republic of Korea
4     1950   24    Male  -700.4375  Republic of Korea
...    ...  ...     ...        ...                ...
3166  2100   84  Female   860.3760  Republic of Korea
3167  2100   89  Female   985.2885  Republic of Korea
3168  2100   94  Female   807.9625  Republic of Korea
3169  2100   99  Female   577.3445  Republic of Korea
3170  2100  100  Female   440.4085  Republic of Korea

[6342 rows x 5 columns],       Time  Age     Sex      Value             Country
0     1950    4    Male -5367.6550  Russian Federation
1     1950    9    Male -3511.6495  Russian Federation
2     1950   14    Male -6424.8610  Russian Federation
3     1950   19    Male -5030.8420  Russian Federation
4     1950   24    Male -5770.6855  Russian Federation
...    ...  ...     ...        ...                 ...
3166  2100   84  Female  3167.6705  Russian Federation
3167  2100   89  Female  2732.6400  Russian Federation
3168  2100   94  Female  1489.5725  Russian Federation
3169  2100   99  Female   588.1445  Russian Federation
3170  2100  100  Female   171.1425  Russian Federation

[6342 rows x 5 columns],       Time  Age     Sex      Value                   Country
0     1950    4    Male -8208.5275  United States of America
1     1950    9    Male -6620.8465  United States of America
2     1950   14    Male -5590.1300  United States of America
3     1950   19    Male -5148.8605  United States of America
4     1950   24    Male -5386.9405  United States of America
...    ...  ...     ...        ...                       ...
3166  2100   84  Female  9806.6290  United States of America
3167  2100   89  Female  8865.5765  United States of America
3168  2100   94  Female  6899.0975  United States of America
3169  2100   99  Female  3468.7095  United States of America
3170  2100  100  Female  1007.0645  United States of America

[6342 rows x 5 columns]]

In [8]:
India_pop_estimates_df = country_data_extraction('India')
China_pop_estimates_df = country_data_extraction('China')
United_States_pop_estimates_df = country_data_extraction('United States of America')
Indonesia_pop_estimates_df = country_data_extraction('Indonesia')
Pakistan_pop_estimates_df = country_data_extraction('Pakistan')
Nigeria_pop_estimates_df = country_data_extraction('Nigeria')
Brazil_pop_estimates_df = country_data_extraction('Brazil')
Bangladesh_pop_estimates_df = country_data_extraction('Bangladesh')
Russia_pop_estimates_df = country_data_extraction('Russian Federation')
Mexico_pop_estimates_df = country_data_extraction('Mexico')

In [9]:
UN_10_largest_countries_pop_estimates = pd.concat([India_pop_estimates_df, China_pop_estimates_df,
                                                   United_States_pop_estimates_df, Indonesia_pop_estimates_df, 
                                                   Pakistan_pop_estimates_df, Nigeria_pop_estimates_df, 
                                                   Brazil_pop_estimates_df, Bangladesh_pop_estimates_df,
                                                   Russia_pop_estimates_df, Mexico_pop_estimates_df])

In [30]:
UN_countries_pop_estimates = pd.concat(selected_countries_df_ls)

In [31]:
UN_countries_pop_estimates

      Time  Age     Sex      Value                   Country
0     1950    4    Male  -618.4625               Afghanistan
1     1950    9    Male  -496.3265               Afghanistan
2     1950   14    Male  -445.2345               Afghanistan
3     1950   19    Male  -400.1250               Afghanistan
4     1950   24    Male  -360.7690               Afghanistan
...    ...  ...     ...        ...                       ...
3166  2100   84  Female  9806.6290  United States of America
3167  2100   89  Female  8865.5765  United States of America
3168  2100   94  Female  6899.0975  United States of America
3169  2100   99  Female  3468.7095  United States of America
3170  2100  100  Female  1007.0645  United States of America

[82446 rows x 5 columns]

In [33]:
UN_countries_pop_estimates.to_csv('./data/UN_countries_pop_estimates.csv')

In [34]:
working_age_growth_df = pd.DataFrame()
working_age_growth_df = UN_countries_pop_estimates.loc[UN_countries_pop_estimates['Sex'] == 'Male']

In [35]:
working_age_growth_df['Value'] = working_age_growth_df['Value'] * -1

C:\Users\MAhern\AppData\Local\Temp\ipykernel_23184\3300670178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_age_growth_df['Value'] = working_age_growth_df['Value'] * -1

In [36]:
working_age_growth_df = pd.concat([working_age_growth_df, UN_countries_pop_estimates.loc[UN_countries_pop_estimates['Sex'] == 'Female']])

In [37]:
working_age_df = pysqldf("SELECT * FROM working_age_growth_df WHERE Age in (19,24,29,34,39,44,49,54,59,64);")

In [38]:
aggregated_working_age_growth_df = pysqldf("SELECT Time, Sex, SUM(Value) AS 'Working Age Population', Country FROM working_age_df GROUP BY Country, Time, Sex;")

In [39]:
male_aggregated_working_age_growth_df = aggregated_working_age_growth_df.loc[aggregated_working_age_growth_df['Sex'] == 'Male']
female_aggregated_working_age_growth_df = aggregated_working_age_growth_df.loc[aggregated_working_age_growth_df['Sex'] == 'Female']

In [40]:
filtered_male_aggregated_working_age_growth_df = male_aggregated_working_age_growth_df.loc[(male_aggregated_working_age_growth_df['Time'] <= 2050) & (male_aggregated_working_age_growth_df['Time'] % 10 == 0)]
filtered_female_aggregated_working_age_growth_df = female_aggregated_working_age_growth_df.loc[(female_aggregated_working_age_growth_df['Time'] <= 2050) & (female_aggregated_working_age_growth_df['Time'] % 10 == 0)]

In [41]:
filtered_all_aggregated_working_age_growth_df = pd.DataFrame()
filtered_all_aggregated_working_age_growth_df['Time'] = filtered_male_aggregated_working_age_growth_df['Time']
filtered_all_aggregated_working_age_growth_df['Country'] = filtered_male_aggregated_working_age_growth_df['Country']
filtered_all_aggregated_working_age_growth_df['Working Age Population'] = list(filtered_female_aggregated_working_age_growth_df.set_index('Time')['Working Age Population'] + filtered_male_aggregated_working_age_growth_df.set_index('Time')['Working Age Population'])

In [42]:
pivot_filtered_male_aggregated_working_age_growth_df = filtered_male_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')
pivot_filtered_female_aggregated_working_age_growth_df = filtered_female_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')
pivot_filtered_all_aggregated_working_age_growth_df = filtered_all_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')

In [43]:
all_pct_change_df = pivot_filtered_all_aggregated_working_age_growth_df.pct_change()

In [44]:
all_pct_change_df

Country,Afghanistan,Bangladesh,Brazil,China,India,Indonesia,Japan,Mexico,Nigeria,Pakistan,Republic of Korea,Russian Federation,United States of America
Time,,,,,,,,,,,,,
1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,0.140597,0.263307,0.310630,0.113078,0.189882,0.288848,0.213255,0.255743,0.213452,0.255332,0.294974,0.126586,0.099722
1970,0.203031,0.275024,0.340279,0.250737,0.231099,0.226169,0.194641,0.358440,0.212595,0.229764,0.248734,0.132487,0.174152
1980,0.116251,0.228702,0.353772,0.282521,0.276258,0.322486,0.088975,0.407627,0.269857,0.372094,0.340622,0.095200,0.191878
1990,-0.163850,0.329526,0.285893,0.299470,0.281310,0.323690,0.084542,0.325662,0.286671,0.412633,0.288986,0.053168,0.110275
2000,0.744399,0.325288,0.251522,0.141064,0.269930,0.256668,-0.002788,0.280126,0.326623,0.358023,0.101830,0.025720,0.140007
2010,0.462900,0.211763,0.179900,0.134727,0.238552,0.172156,-0.058607,0.210111,0.289026,0.339764,0.053106,0.013709,0.116031
2020,0.527277,0.222856,0.110201,0.005438,0.182935,0.137186,-0.095006,0.166886,0.315199,0.199635,0.054065,-0.054464,0.049968
2030,0.369521,0.122674,0.033585,-0.016302,0.111656,0.090057,-0.062742,0.094537,0.325889,0.274484,-0.096555,-0.051147,0.012324
2040,0.327561,0.061187,-0.002294,-0.108818,0.056372,0.034842,-0.129140,0.023488,0.286177,0.220640,-0.155440,-0.040637,0.015399
2050,0.254268,0.011858,-0.050563,-0.114535,0.015068,0.004401,-0.108612,-0.015356,0.240530,0.174779,-0.157963,-0.101132,0.011940

In [45]:
all_joined_df = pivot_filtered_all_aggregated_working_age_growth_df.join(all_pct_change_df, on=['Time'],  lsuffix=' Working Age Population', rsuffix=' Working Age Growth')

In [46]:
all_joined_df

Country,Afghanistan Working Age Population,Bangladesh Working Age Population,Brazil Working Age Population,China Working Age Population,India Working Age Population,Indonesia Working Age Population,Japan Working Age Population,Mexico Working Age Population,Nigeria Working Age Population,Pakistan Working Age Population,...,China Working Age Growth,India Working Age Growth,Indonesia Working Age Growth,Japan Working Age Growth,Mexico Working Age Growth,Nigeria Working Age Growth,Pakistan Working Age Growth,Republic of Korea Working Age Growth,Russian Federation Working Age Growth,United States of America Working Age Growth
Time,,,,,,,,,,,,,,,,,,,,,
1950,4198.5890,21832.2140,29715.8190,327285.9605,2.105861e+05,39640.4805,50380.8620,14593.0050,20611.1865,20369.3275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,4788.8990,27580.7990,38946.4300,364294.8325,2.505725e+05,51090.5625,61124.8345,18325.0630,25010.6875,25570.2610,...,0.113078,0.189882,0.288848,0.213255,0.255743,0.213452,0.255332,0.294974,0.126586,0.099722
1970,5761.1955,35166.1775,52199.0850,455637.1045,3.084795e+05,62645.6405,73022.2590,24893.4980,30327.8390,31445.3930,...,0.250737,0.231099,0.226169,0.194641,0.358440,0.212595,0.229764,0.248734,0.132487,0.174152
1980,6430.9395,43208.7645,70665.6450,584364.1635,3.936995e+05,82848.0125,79519.4140,35040.7705,38512.0150,43146.0270,...,0.282521,0.276258,0.322486,0.088975,0.407627,0.269857,0.372094,0.340622,0.095200,0.191878
1990,5377.2290,57447.1940,90868.4270,759363.8900,5.044511e+05,109665.1005,86242.1180,46452.2010,49552.2840,60949.5080,...,0.299470,0.281310,0.323690,0.084542,0.325662,0.286671,0.412633,0.288986,0.053168,0.110275
2000,9380.0325,76134.0985,113723.8205,866482.6790,6.406175e+05,137812.6285,86001.7115,59464.6555,65737.1935,82770.8460,...,0.141064,0.269930,0.256668,-0.002788,0.280126,0.326623,0.358023,0.101830,0.025720,0.140007
2010,13722.0475,92256.4845,134182.7795,983220.8595,7.934384e+05,161537.9560,80961.4435,71958.8130,84736.9770,110893.3615,...,0.134727,0.238552,0.172156,-0.058607,0.210111,0.289026,0.339764,0.053106,0.013709,0.116031
2020,20957.3695,112816.3710,148969.7955,988568.0850,9.385864e+05,183698.6305,73269.5805,83967.7380,111445.9580,133031.5125,...,0.005438,0.182935,0.137186,-0.095006,0.166886,0.315199,0.199635,0.054065,-0.054464,0.049968
2030,28701.5665,126656.0170,153972.9765,972452.7595,1.043385e+06,200242.0450,68672.5055,91905.8240,147764.9820,169546.4930,...,-0.016302,0.111656,0.090057,-0.062742,0.094537,0.325889,0.274484,-0.096555,-0.051147,0.012324
2040,38103.0835,134405.6845,153619.7580,866632.2885,1.102202e+06,207218.8565,59804.1555,94064.5260,190051.8520,206955.2835,...,-0.108818,0.056372,0.034842,-0.129140,0.023488,0.286177,0.220640,-0.155440,-0.040637,0.015399
2050,47791.4865,135999.4245,145852.3000,767372.8660,1.118811e+06,208130.8215,53308.7000,92620.0710,235765.0840,243126.6420,...,-0.114535,0.015068,0.004401,-0.108612,-0.015356,0.240530,0.174779,-0.157963,-0.101132,0.011940

In [61]:
len(all_joined_df.columns)

26

In [55]:
double_selected_countries = sorted(selected_countries*2)

In [56]:
population_growth_ls = ["Population", "Growth"]
match_size_population_growth_ls = population_growth_ls * len(selected_countries)

In [72]:
col_name = all_joined_df.columns[1]
all_joined_df[col_name]

Time
1950     21832.2140
1960     27580.7990
1970     35166.1775
1980     43208.7645
1990     57447.1940
2000     76134.0985
2010     92256.4845
2020    112816.3710
2030    126656.0170
2040    134405.6845
2050    135999.4245
Name: Bangladesh Working Age Population, dtype: float64

In [103]:
sorted(all_joined_df.columns)

['Afghanistan Working Age Growth',
 'Afghanistan Working Age Population',
 'Bangladesh Working Age Growth',
 'Bangladesh Working Age Population',
 'Brazil Working Age Growth',
 'Brazil Working Age Population',
 'China Working Age Growth',
 'China Working Age Population',
 'India Working Age Growth',
 'India Working Age Population',
 'Indonesia Working Age Growth',
 'Indonesia Working Age Population',
 'Japan Working Age Growth',
 'Japan Working Age Population',
 'Mexico Working Age Growth',
 'Mexico Working Age Population',
 'Nigeria Working Age Growth',
 'Nigeria Working Age Population',
 'Pakistan Working Age Growth',
 'Pakistan Working Age Population',
 'Republic of Korea Working Age Growth',
 'Republic of Korea Working Age Population',
 'Russian Federation Working Age Growth',
 'Russian Federation Working Age Population',
 'United States of America Working Age Growth',
 'United States of America Working Age Population']

In [128]:
arrays = [
    np.array(double_selected_countries),
    np.array(match_size_population_growth_ls),
]

pop_growth_multi_df = pd.DataFrame(columns=arrays)

all_joined_df_columns_sorted = sorted(all_joined_df.columns)

for i in range(1, len(double_selected_countries), 2):
    col_name = all_joined_df_columns_sorted[i]
    country_name = double_selected_countries[i]
    pop_growth_multi_df[country_name, 'Population'] = all_joined_df[col_name]/1000
    pop_growth_multi_df[country_name, 'Population'] = pop_growth_multi_df[country_name, 'Population'].map("{:,.2f}M".format)

for i in range(0, len(match_size_population_growth_ls), 2):
    col_name = all_joined_df_columns_sorted[i]  
    country_name = double_selected_countries[i]
    pop_growth_multi_df[country_name, 'Growth'] = all_joined_df[col_name]
    pop_growth_multi_df = pop_growth_multi_df.fillna(0)
    pop_growth_multi_df[country_name, 'Growth'] = pop_growth_multi_df[country_name, 'Growth'].map("{:,.1%}".format)

C:\Users\MAhern\AppData\Local\Temp\ipykernel_23184\2594674987.py:20: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pop_growth_multi_df = pop_growth_multi_df.fillna(0)

In [129]:
pop_growth_multi_df

     Afghanistan         Bangladesh            Brazil             China  \
      Population  Growth Population Growth Population Growth Population
Time
1950       4.20M    0.0%     21.83M   0.0%     29.72M   0.0%    327.29M
1960       4.79M   14.1%     27.58M  26.3%     38.95M  31.1%    364.29M
1970       5.76M   20.3%     35.17M  27.5%     52.20M  34.0%    455.64M
1980       6.43M   11.6%     43.21M  22.9%     70.67M  35.4%    584.36M
1990       5.38M  -16.4%     57.45M  33.0%     90.87M  28.6%    759.36M
2000       9.38M   74.4%     76.13M  32.5%    113.72M  25.2%    866.48M
2010      13.72M   46.3%     92.26M  21.2%    134.18M  18.0%    983.22M
2020      20.96M   52.7%    112.82M  22.3%    148.97M  11.0%    988.57M
2030      28.70M   37.0%    126.66M  12.3%    153.97M   3.4%    972.45M
2040      38.10M   32.8%    134.41M   6.1%    153.62M  -0.2%    866.63M
2050      47.79M   25.4%    136.00M   1.2%    145.85M  -5.1%    767.37M

                  India         ...    Nigeria          Pakistan         \
      Growth Population Growth  ... Population Growth Population Growth
Time                            ...
1950    0.0%    210.59M   0.0%  ...     20.61M   0.0%     20.37M   0.0%
1960   11.3%    250.57M  19.0%  ...     25.01M  21.3%     25.57M  25.5%
1970   25.1%    308.48M  23.1%  ...     30.33M  21.3%     31.45M  23.0%
1980   28.3%    393.70M  27.6%  ...     38.51M  27.0%     43.15M  37.2%
1990   29.9%    504.45M  28.1%  ...     49.55M  28.7%     60.95M  41.3%
2000   14.1%    640.62M  27.0%  ...     65.74M  32.7%     82.77M  35.8%
2010   13.5%    793.44M  23.9%  ...     84.74M  28.9%    110.89M  34.0%
2020    0.5%    938.59M  18.3%  ...    111.45M  31.5%    133.03M  20.0%
2030   -1.6%  1,043.39M  11.2%  ...    147.76M  32.6%    169.55M  27.4%
2040  -10.9%  1,102.20M   5.6%  ...    190.05M  28.6%    206.96M  22.1%
2050  -11.5%  1,118.81M   1.5%  ...    235.77M  24.1%    243.13M  17.5%

     Republic of Korea         Russian Federation          \
            Population  Growth         Population  Growth
Time
1950            10.92M    0.0%             67.45M    0.0%
1960            14.14M   29.5%             75.99M   12.7%
1970            17.66M   24.9%             86.05M   13.2%
1980            23.68M   34.1%             94.24M    9.5%
1990            30.52M   28.9%             99.26M    5.3%
2000            33.63M   10.2%            101.81M    2.6%
2010            35.42M    5.3%            103.20M    1.4%
2020            37.33M    5.4%             97.58M   -5.4%
2030            33.73M   -9.7%             92.59M   -5.1%
2040            28.48M  -15.5%             88.83M   -4.1%
2050            23.98M  -15.8%             79.85M  -10.1%

     United States of America
                   Population Growth
Time
1950                   96.05M   0.0%
1960                  105.63M  10.0%
1970                  124.03M  17.4%
1980                  147.83M  19.2%
1990                  164.13M  11.0%
2000                  187.11M  14.0%
2010                  208.82M  11.6%
2020                  219.25M   5.0%
2030                  221.96M   1.2%
2040                  225.37M   1.5%
2050                  228.06M   1.2%

[11 rows x 26 columns]

In [57]:
arrays = [
    np.array(double_selected_countries),
    np.array(match_size_population_growth_ls),
]

pop_growth_multi_df = pd.DataFrame(columns=arrays)
pop_growth_multi_df['Bangladesh','Population'] = all_joined_df['Bangladesh Working Age Population']/1000
pop_growth_multi_df['Bangladesh','Growth'] = all_joined_df['Bangladesh Working Age Growth']
pop_growth_multi_df['Brazil','Population'] = all_joined_df['Brazil Working Age Population']/1000
pop_growth_multi_df['Brazil','Growth'] = all_joined_df['Brazil Working Age Growth']
pop_growth_multi_df['China','Population'] = all_joined_df['China Working Age Population']/1000
pop_growth_multi_df['China','Growth'] = all_joined_df['China Working Age Growth']
pop_growth_multi_df['India','Population'] = all_joined_df['India Working Age Population']/1000
pop_growth_multi_df['India','Growth'] = all_joined_df['India Working Age Growth']
pop_growth_multi_df['Indonesia','Population'] = all_joined_df['Indonesia Working Age Population']/1000
pop_growth_multi_df['Indonesia','Growth'] = all_joined_df['Indonesia Working Age Growth']
pop_growth_multi_df['Mexico','Population'] = all_joined_df['Mexico Working Age Population']/1000
pop_growth_multi_df['Mexico','Growth'] = all_joined_df['Mexico Working Age Growth']
pop_growth_multi_df['Nigeria','Population'] = all_joined_df['Nigeria Working Age Population']/1000
pop_growth_multi_df['Nigeria','Growth'] = all_joined_df['Nigeria Working Age Growth']
pop_growth_multi_df['Pakistan','Population'] = all_joined_df['Pakistan Working Age Population']/1000
pop_growth_multi_df['Pakistan','Growth'] = all_joined_df['Pakistan Working Age Growth']
pop_growth_multi_df['Russia','Population'] = all_joined_df['Russian Federation Working Age Population']/1000
pop_growth_multi_df['Russia','Growth'] = all_joined_df['Russian Federation Working Age Growth']
pop_growth_multi_df['United States','Population'] = all_joined_df['United States of America Working Age Population']/1000
pop_growth_multi_df['United States','Growth'] = all_joined_df['United States of America Working Age Growth']

pop_growth_multi_df = pop_growth_multi_df.fillna(0)

C:\Users\MAhern\AppData\Local\Temp\ipykernel_23184\2573016887.py:28: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pop_growth_multi_df = pop_growth_multi_df.fillna(0)

In [58]:
pop_growth_multi_df['Bangladesh','Population'] = pop_growth_multi_df['Bangladesh','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Bangladesh','Growth'] = pop_growth_multi_df['Bangladesh','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Brazil','Population'] = pop_growth_multi_df['Brazil','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Brazil','Growth'] = pop_growth_multi_df['Brazil','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['China','Population'] = pop_growth_multi_df['China','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['China','Growth'] = pop_growth_multi_df['China','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['India','Population'] = pop_growth_multi_df['India','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['India','Growth'] = pop_growth_multi_df['India','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Indonesia','Population'] = pop_growth_multi_df['Indonesia','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Indonesia','Growth'] = pop_growth_multi_df['Indonesia','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Mexico','Population'] = pop_growth_multi_df['Mexico','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Mexico','Growth'] = pop_growth_multi_df['Mexico','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Nigeria','Population'] = pop_growth_multi_df['Nigeria','Population'].map("{:,.2f}".format)
pop_growth_multi_df['Nigeria','Growth'] = pop_growth_multi_df['Nigeria','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Pakistan','Population'] = pop_growth_multi_df['Pakistan','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Pakistan','Growth'] = pop_growth_multi_df['Pakistan','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Russia','Population'] = pop_growth_multi_df['Russia','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Russia','Growth'] = pop_growth_multi_df['Russia','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['United States','Population'] = pop_growth_multi_df['United States','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['United States','Growth'] = pop_growth_multi_df['United States','Growth'].map("{:,.1%}".format)

In [130]:
pop_growth_multi_df.xs('Population', level=1, axis = 1)

,Afghanistan,Bangladesh,Brazil,China,India,Indonesia,Japan,Mexico,Nigeria,Pakistan,Republic of Korea,Russian Federation,United States of America
Time,,,,,,,,,,,,,
1950,4.20M,21.83M,29.72M,327.29M,210.59M,39.64M,50.38M,14.59M,20.61M,20.37M,10.92M,67.45M,96.05M
1960,4.79M,27.58M,38.95M,364.29M,250.57M,51.09M,61.12M,18.33M,25.01M,25.57M,14.14M,75.99M,105.63M
1970,5.76M,35.17M,52.20M,455.64M,308.48M,62.65M,73.02M,24.89M,30.33M,31.45M,17.66M,86.05M,124.03M
1980,6.43M,43.21M,70.67M,584.36M,393.70M,82.85M,79.52M,35.04M,38.51M,43.15M,23.68M,94.24M,147.83M
1990,5.38M,57.45M,90.87M,759.36M,504.45M,109.67M,86.24M,46.45M,49.55M,60.95M,30.52M,99.26M,164.13M
2000,9.38M,76.13M,113.72M,866.48M,640.62M,137.81M,86.00M,59.46M,65.74M,82.77M,33.63M,101.81M,187.11M
2010,13.72M,92.26M,134.18M,983.22M,793.44M,161.54M,80.96M,71.96M,84.74M,110.89M,35.42M,103.20M,208.82M
2020,20.96M,112.82M,148.97M,988.57M,938.59M,183.70M,73.27M,83.97M,111.45M,133.03M,37.33M,97.58M,219.25M
2030,28.70M,126.66M,153.97M,972.45M,"1,043.39M",200.24M,68.67M,91.91M,147.76M,169.55M,33.73M,92.59M,221.96M
2040,38.10M,134.41M,153.62M,866.63M,"1,102.20M",207.22M,59.80M,94.06M,190.05M,206.96M,28.48M,88.83M,225.37M
2050,47.79M,136.00M,145.85M,767.37M,"1,118.81M",208.13M,53.31M,92.62M,235.77M,243.13M,23.98M,79.85M,228.06M

In [131]:
pop_growth_multi_df.to_csv('./data/pop_growth_multi.csv')

In [132]:
read_pop_growth_multi_df = pd.read_csv('./data/pop_growth_multi.csv', skipinitialspace=True, index_col=0, header=[0,1], skiprows=[2])

In [133]:
read_pop_growth_multi_df

     Afghanistan         Bangladesh            Brazil             China  \
      Population  Growth Population Growth Population Growth Population
1950       4.20M    0.0%     21.83M   0.0%     29.72M   0.0%    327.29M
1960       4.79M   14.1%     27.58M  26.3%     38.95M  31.1%    364.29M
1970       5.76M   20.3%     35.17M  27.5%     52.20M  34.0%    455.64M
1980       6.43M   11.6%     43.21M  22.9%     70.67M  35.4%    584.36M
1990       5.38M  -16.4%     57.45M  33.0%     90.87M  28.6%    759.36M
2000       9.38M   74.4%     76.13M  32.5%    113.72M  25.2%    866.48M
2010      13.72M   46.3%     92.26M  21.2%    134.18M  18.0%    983.22M
2020      20.96M   52.7%    112.82M  22.3%    148.97M  11.0%    988.57M
2030      28.70M   37.0%    126.66M  12.3%    153.97M   3.4%    972.45M
2040      38.10M   32.8%    134.41M   6.1%    153.62M  -0.2%    866.63M
2050      47.79M   25.4%    136.00M   1.2%    145.85M  -5.1%    767.37M

                  India         ...    Nigeria          Pakistan         \
      Growth Population Growth  ... Population Growth Population Growth
1950    0.0%    210.59M   0.0%  ...     20.61M   0.0%     20.37M   0.0%
1960   11.3%    250.57M  19.0%  ...     25.01M  21.3%     25.57M  25.5%
1970   25.1%    308.48M  23.1%  ...     30.33M  21.3%     31.45M  23.0%
1980   28.3%    393.70M  27.6%  ...     38.51M  27.0%     43.15M  37.2%
1990   29.9%    504.45M  28.1%  ...     49.55M  28.7%     60.95M  41.3%
2000   14.1%    640.62M  27.0%  ...     65.74M  32.7%     82.77M  35.8%
2010   13.5%    793.44M  23.9%  ...     84.74M  28.9%    110.89M  34.0%
2020    0.5%    938.59M  18.3%  ...    111.45M  31.5%    133.03M  20.0%
2030   -1.6%  1,043.39M  11.2%  ...    147.76M  32.6%    169.55M  27.4%
2040  -10.9%  1,102.20M   5.6%  ...    190.05M  28.6%    206.96M  22.1%
2050  -11.5%  1,118.81M   1.5%  ...    235.77M  24.1%    243.13M  17.5%

     Republic of Korea         Russian Federation          \
            Population  Growth         Population  Growth
1950            10.92M    0.0%             67.45M    0.0%
1960            14.14M   29.5%             75.99M   12.7%
1970            17.66M   24.9%             86.05M   13.2%
1980            23.68M   34.1%             94.24M    9.5%
1990            30.52M   28.9%             99.26M    5.3%
2000            33.63M   10.2%            101.81M    2.6%
2010            35.42M    5.3%            103.20M    1.4%
2020            37.33M    5.4%             97.58M   -5.4%
2030            33.73M   -9.7%             92.59M   -5.1%
2040            28.48M  -15.5%             88.83M   -4.1%
2050            23.98M  -15.8%             79.85M  -10.1%

     United States of America
                   Population Growth
1950                   96.05M   0.0%
1960                  105.63M  10.0%
1970                  124.03M  17.4%
1980                  147.83M  19.2%
1990                  164.13M  11.0%
2000                  187.11M  14.0%
2010                  208.82M  11.6%
2020                  219.25M   5.0%
2030                  221.96M   1.2%
2040                  225.37M   1.5%
2050                  228.06M   1.2%

[11 rows x 26 columns]

In [179]:
read_pop_growth_multi_df = pd.read_csv('./data/pop_growth_multi.csv', skiprows=[2])

In [189]:
read_pop_growth_multi_df.rename(columns={'Unnamed: 0':'', 'Bangladesh':'Bangladesh', 'Bangladesh.1':'', 'Brazil':'Brazil', 'Brazil.1':'',
       'China':'China', 'China.1':'', 'India':'India', 'India.1':'', 'Indonesia':'Indonesia', 'Indonesia.1':'',
       'Mexico':'Mexico', 'Mexico.1':'', 'Mexico':'Mexico', 'Nigeria.1':'', 'Pakistan':'Pakistan', 'Pakistan.1':'',
       'Russia':'Russia', 'Russia.1':'', 'United States':'United States', 'United States.1':''}, inplace=True)

In [190]:
pop_growth_dict=read_pop_growth_multi_df.to_dict('records')

C:\Users\MAhern\AppData\Local\Temp\ipykernel_22980\3020710323.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  pop_growth_dict=read_pop_growth_multi_df.to_dict('records')

In [174]:
for i in range(0,12):
    pop_growth_dict[i] =  {np.nan: np.nan,'Bangladesh': 'Population',np.nan: 'Growth','Brazil': 'Population',np.nan: 'Growth','China': 'Population',np.nan: 'Growth','India': 'Population',np.nan: 'Growth','Indonesia': 'Population',np.nan: 'Growth','Mexico': 'Population',np.nan: 'Growth','Nigeria': 'Population',np.nan: 'Growth','Pakistan': 'Population',np.nan: 'Growth','Russia': 'Population',np.nan: 'Growth','United States': 'Population',np.nan: 'Growth'}

In [176]:
pop_growth_dict[0] = {
 np.nan: np.nan,
 'Bangladesh': 'Population',
 np.nan: 'Growth',
 'Brazil': 'Population',
 np.nan: 'Growth',
 'China': 'Population',
 np.nan: 'Growth',
 'India': 'Population',
 np.nan: 'Growth',
 'Indonesia': 'Population',
 np.nan: 'Growth',
 'Mexico': 'Population',
 np.nan: 'Growth',
 'Nigeria': 'Population',
 np.nan: 'Growth',
 'Pakistan': 'Population',
 np.nan: 'Growth',
 'Russia': 'Population',
 np.nan: 'Growth',
 'United States': 'Population',
 np.nan: 'Growth'
}

In [169]:
pop_growth_dict

[{nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'}]

In [153]:
pop_growth_dict[2].keys()

dict_keys([nan, 'Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Mexico', 'Nigeria', 'Pakistan', 'Russia', 'United States'])

In [140]:
pivot_filtered_female_aggregated_working_age_growth_df

Country,Bangladesh,Brazil,China,India,Indonesia,Mexico,Nigeria,Pakistan,Russian Federation,United States of America
Time,,,,,,,,,,
1950,10301.1195,14768.2935,158698.8850,101403.9665,19766.8815,7435.1735,10391.3270,8902.3110,39862.2940,48665.6325
1960,13040.1365,19422.5255,176431.4370,121010.5505,25678.9830,9192.6395,12500.4445,11347.3645,43068.3835,53253.4610
1970,16715.0605,26283.7595,221660.6420,148626.2155,31689.4515,12464.1425,15170.8090,14292.2845,46807.0100,63127.6890
1980,21121.6130,35729.9775,284886.9305,189104.3665,41752.8255,17885.6945,19240.3905,20247.8600,49524.0270,74715.0940
1990,28070.9630,46023.4150,371118.5900,242944.6585,55026.0155,23951.5760,24721.2750,29249.2320,51130.7190,82284.1625
2000,37392.0460,57564.6545,424272.3455,308668.2325,68661.1310,30833.9660,32778.1680,40087.9630,52657.2245,93858.1060
2010,46598.0985,68006.6730,480767.1385,382761.3680,79881.8080,37152.3320,42163.5155,53957.7215,53828.1885,104990.4860
2020,57294.5690,75332.3170,479814.8440,452534.7650,90578.1140,43188.3085,55169.4575,66045.0915,50533.8615,109225.6300
2030,64459.7240,77568.9560,467016.3660,502751.0710,98625.5415,47124.0940,72916.4235,84322.3585,47387.7345,110290.6795
2040,68263.0385,77027.8510,411579.0875,531588.3895,101944.4685,48009.6255,93743.6550,103078.4910,45152.4640,111859.3610
2050,68648.1255,72734.0335,362513.1625,541050.2280,102367.8495,46983.1610,116450.1065,121208.5960,40206.6220,113084.6085

In [121]:
aggregated_working_age_growth_df.pivot(index='Time', columns=['Country', 'Sex'], values='Working Age Population')

Country Bangladesh              Brazil               China            \
Sex         Female      Male    Female      Male    Female      Male
Time
1950           NaN       NaN       NaN       NaN       NaN       NaN
1951      0.024959  0.024662  0.028788  0.025990  0.011571  0.011300
1952      0.025014  0.024823  0.028365  0.026344  0.011041  0.011595
1953      0.023891  0.023824  0.028167  0.026601  0.010573  0.011712
1954      0.023298  0.023226  0.028029  0.027003  0.010136  0.011180
...            ...       ...       ...       ...       ...       ...
2096     -0.008963 -0.009296 -0.007749 -0.007493 -0.009051 -0.009265
2097     -0.008912 -0.009248 -0.007718 -0.007471 -0.009411 -0.009576
2098     -0.008820 -0.009160 -0.007685 -0.007441 -0.009875 -0.010003
2099     -0.008766 -0.009120 -0.007673 -0.007434 -0.010330 -0.010428
2100     -0.008727 -0.009093 -0.007689 -0.007455 -0.010822 -0.010892

Country     India           Indonesia              Mexico             Nigeria  \
Sex        Female      Male    Female      Male    Female      Male    Female
Time
1950          NaN       NaN       NaN       NaN       NaN       NaN       NaN
1951     0.019697  0.019059  0.029746  0.028866  0.020025  0.022031  0.019455
1952     0.018912  0.018335  0.029442  0.028410  0.017857  0.021914  0.019304
1953     0.017981  0.017416  0.028492  0.027367  0.017544  0.022521  0.018719
1954     0.017542  0.016959  0.027426  0.026158  0.018386  0.023516  0.018314
...           ...       ...       ...       ...       ...       ...       ...
2096    -0.006807 -0.006709 -0.005231 -0.004873 -0.010140 -0.009931  0.001479
2097    -0.006858 -0.006744 -0.005348 -0.004985 -0.010384 -0.010187  0.001245
2098    -0.006854 -0.006728 -0.005493 -0.005125 -0.010525 -0.010344  0.001014
2099    -0.006863 -0.006721 -0.005630 -0.005259 -0.010659 -0.010490  0.000807
2100    -0.006898 -0.006742 -0.005796 -0.005424 -0.010793 -0.010634  0.000617

Country            Pakistan           Russian Federation            \
Sex          Male    Female      Male             Female      Male
Time
1950          NaN       NaN       NaN                NaN       NaN
1951     0.021405  0.021200  0.019462           0.014986  0.025179
1952     0.021230  0.022031  0.020004           0.017679  0.029925
1953     0.020610  0.022850  0.020554           0.018253  0.031080
1954     0.020146  0.023731  0.021174           0.014575  0.025405
...           ...       ...       ...                ...       ...
2096     0.000928 -0.000336  0.000004          -0.000862 -0.000665
2097     0.000707 -0.000536 -0.000172          -0.001061 -0.000880
2098     0.000479 -0.000714 -0.000329          -0.001334 -0.001161
2099     0.000280 -0.000898 -0.000492          -0.001653 -0.001483
2100     0.000106 -0.001107 -0.000683          -0.002038 -0.001869

Country United States of America
Sex                       Female      Male
Time
1950                         NaN       NaN
1951                    0.004913  0.010291
1952                    0.004921  0.010802
1953                    0.007602  0.004171
1954                    0.007751  0.008265
...                          ...       ...
2096                   -0.000768 -0.000643
2097                   -0.000884 -0.000760
2098                   -0.001004 -0.000882
2099                   -0.001063 -0.000943
2100                   -0.001101 -0.000987

[151 rows x 20 columns]

In [34]:
working_age_pivot_df = working_age_growth_df.pivot(index='Time', columns=['Sex', 'Age', 'Country'], values='Value')

In [57]:
working_age_pivot_df

Sex            Male                                                  \
Age             4           9           14          19          24
Country       India       India       India       India       India
Time
1950     27330.1840  21411.5365  20064.4950  18461.8485  16847.7380
1951     28702.9550  21809.8035  20240.6535  18707.1295  17100.1470
1952     30120.3300  22267.2620  20388.7200  18977.4935  17329.3090
1953     31564.0120  22802.9325  20547.0250  19246.1970  17535.1815
1954     32743.6535  23701.7795  20768.9800  19481.1670  17738.2420
...             ...         ...         ...         ...         ...
2096     36242.3725  37417.5465  38512.3930  39667.8705  41165.8810
2097     35977.8095  37196.1620  38287.6580  39348.4180  40834.3415
2098     35718.3290  36951.3080  38049.2330  39086.3650  40481.0730
2099     35455.5755  36684.4560  37822.8525  38852.3270  40115.1775
2100     35183.6950  36428.3970  37600.3690  38622.9575  39772.1510

Sex                                                                  ...  \
Age             29          34          39          44          49   ...
Country       India       India       India       India       India  ...
Time                                                                 ...
1950     14957.0950  13242.6780  11495.5870  10105.9535   8207.4805  ...
1951     15227.1955  13491.5520  11703.4800  10306.6140   8413.9975  ...
1952     15505.6620  13725.3655  11938.5340  10459.7875   8677.4640  ...
1953     15776.2505  13944.5350  12186.5350  10584.0935   8965.9415  ...
1954     16029.7070  14167.0595  12430.3080  10721.7910   9229.5350  ...
...             ...         ...         ...         ...         ...  ...
2096     42644.0530  43940.9740  44842.1090  45629.7585  46776.5240  ...
2097     42287.3250  43653.0030  44617.4105  45412.5465  46455.3955  ...
2098     41935.6515  43341.4835  44396.3680  45217.4095  46130.6135  ...
2099     41586.0805  43028.7315  44174.6885  45025.0865  45817.8010  ...
2100     41224.6840  42709.9950  43946.8620  44812.7045  45551.7130  ...

Sex         Female                                                         \
Age            59         64         69         74         79         84
Country     Mexico     Mexico     Mexico     Mexico     Mexico     Mexico
Time
1950      308.9985   254.3710   174.4055   115.5055    70.0930    42.9600
1951      315.4635   254.8580   179.8150   116.7030    70.2005    42.5280
1952      324.5545   254.2635   185.0935   117.9715    71.3785    42.6345
1953      335.4340   254.4925   190.2570   119.3630    73.0120    42.7565
1954      347.2870   255.8800   194.7075   121.3370    74.9075    43.3255
...            ...        ...        ...        ...        ...        ...
2096     3766.4070  3906.5120  3915.9490  3862.7975  3931.8155  3831.9190
2097     3724.4295  3883.8855  3910.1100  3850.3840  3845.1675  3802.2100
2098     3680.6810  3857.9135  3903.4820  3838.6525  3777.0430  3755.8835
2099     3636.3465  3826.3450  3893.9505  3829.3590  3731.2335  3691.7840
2100     3592.4170  3791.0350  3881.0810  3822.0125  3694.6055  3624.0800

Sex
Age            89         94        99        100
Country     Mexico     Mexico    Mexico    Mexico
Time
1950       17.3340     3.8800    0.4385    0.0230
1951       18.7205     5.0440    0.8845    0.0795
1952       20.7735     6.5965    1.4445    0.1465
1953       22.6070     8.0505    1.9490    0.2040
1954       24.1015     9.4315    2.4240    0.2585
...            ...        ...       ...       ...
2096     3106.5640  2021.9455  876.7555  224.8445
2097     3123.3050  2039.7660  895.3855  232.7320
2098     3136.0870  2058.1735  913.4925  240.8830
2099     3143.9010  2078.1655  930.5515  249.3455
2100     3146.4570  2099.6275  946.3385  258.2065

[151 rows x 420 columns]

In [63]:
working_age_pivot_df.groupby(level=['Age'])[19,24]

ValueError: level name Age is not the name of the index

In [54]:
working_age_pivot_df.xs('Male', level='Sex', axis = 1).xs(19, level='Age', axis = 1)

Country,India,China,United States of America,Indonesia,Pakistan,Nigeria,Brazil,Bangladesh,Russian Federation,Mexico
Time,,,,,,,,,,
1950,18461.8485,27570.5835,5148.8605,3886.0595,2034.6270,1901.5210,2811.3080,2093.6355,5030.8420,1335.7710
1951,18707.1295,28042.0925,5247.2190,3970.7725,2076.9775,1943.9175,2859.5975,2146.3245,5172.1490,1375.4490
1952,18977.4935,28473.2415,5363.3715,4055.9600,2120.3060,1988.3710,2921.3725,2198.2210,5575.7840,1418.0450
1953,19246.1970,28612.6835,5280.8880,4135.4995,2165.5760,2033.5280,2996.1620,2247.3245,6088.5110,1464.1355
1954,19481.1670,28467.5225,5290.0345,4204.3075,2214.5600,2078.0945,3085.8920,2293.9295,6380.9145,1516.2850
...,...,...,...,...,...,...,...,...,...,...
2096,39667.8705,16404.6895,9773.7205,8405.9580,16045.7080,19752.8215,4411.9020,4542.5945,3123.1215,2650.7170
2097,39348.4180,16128.5670,9745.9565,8345.1740,15986.0485,19682.9655,4376.3230,4506.0995,3102.4055,2619.8180
2098,39086.3650,15824.3080,9719.3610,8282.1170,15940.1135,19615.4615,4343.3400,4471.3035,3077.4860,2589.1140
2099,38852.3270,15495.5855,9698.5370,8218.1970,15892.9775,19551.4735,4311.1210,4436.2825,3049.8315,2559.0940
2100,38622.9575,15162.0225,9682.8210,8152.2810,15844.5145,19488.0530,4279.6250,4398.6880,3019.9695,2529.9100

In [56]:
working_age_pivot_df.xs('Male', level='Sex', axis = 1)

Age,4,9,14,19,24,29,34,39,44,49,...,59,64,69,74,79,84,89,94,99,100
Country,India,India,India,India,India,India,India,India,India,India,...,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico
Time,,,,,,,,,,,,,,,,,,,,,
1950,27330.1840,21411.5365,20064.4950,18461.8485,16847.7380,14957.0950,13242.6780,11495.5870,10105.9535,8207.4805,...,294.4115,240.2850,165.7565,106.5490,71.1395,38.1760,14.5865,3.4435,0.4375,0.0255
1951,28702.9550,21809.8035,20240.6535,18707.1295,17100.1470,15227.1955,13491.5520,11703.4800,10306.6140,8413.9975,...,302.0940,240.7425,170.6380,107.2600,69.8120,38.6540,15.7280,4.4825,0.8325,0.0780
1952,30120.3300,22267.2620,20388.7200,18977.4935,17329.3090,15505.6620,13725.3655,11938.5340,10459.7875,8677.4640,...,313.8535,240.8105,175.4045,108.8685,68.7565,39.7495,17.3780,5.8570,1.3410,0.1435
1953,31564.0120,22802.9325,20547.0250,19246.1970,17535.1815,15776.2505,13944.5350,12186.5350,10584.0935,8965.9415,...,328.0975,241.8195,179.8740,110.9965,68.0440,40.8815,18.9785,7.1280,1.8115,0.2030
1954,32743.6535,23701.7795,20768.9800,19481.1670,17738.2420,16029.7070,14167.0595,12430.3080,10721.7910,9229.5350,...,343.4540,244.3280,183.7580,113.7005,68.0360,41.9335,20.5445,8.3160,2.2555,0.2600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,36242.3725,37417.5465,38512.3930,39667.8705,41165.8810,42644.0530,43940.9740,44842.1090,45629.7585,46776.5240,...,3790.5625,3889.5075,3843.7020,3712.6990,3640.8555,3361.4860,2506.0300,1407.8375,480.3300,82.2515
2097,35977.8095,37196.1620,38287.6580,39348.4180,40834.3415,42287.3250,43653.0030,44617.4105,45412.5465,46455.3955,...,3751.3860,3870.8990,3842.5905,3705.8910,3573.4955,3339.6440,2525.8690,1425.1120,493.2885,85.5170
2098,35718.3290,36951.3080,38049.2330,39086.3650,40481.0730,41935.6515,43341.4835,44396.3680,45217.4095,46130.6135,...,3710.0930,3848.8620,3840.5690,3699.9835,3523.4790,3302.4640,2541.4390,1442.8990,506.0815,88.9530
2099,35455.5755,36684.4560,37822.8525,38852.3270,40115.1775,41586.0805,43028.7315,44174.6885,45025.0865,45817.8010,...,3667.9925,3821.1370,3835.5900,3696.4320,3489.9920,3253.5825,2552.2050,1461.9455,518.1540,92.5740
2100,35183.6950,36428.3970,37600.3690,38622.9575,39772.1510,41224.6840,42709.9950,43946.8620,44812.7045,45551.7130,...,3626.2745,3789.5705,3827.2525,3694.6310,3461.2450,3206.2270,2557.8270,1482.1110,529.1175,96.3885

In [37]:
China_male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == "China"]
China_female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == "China"]

In [88]:
China_male_pop_estimates_T = China_male_pop_estimates.iloc[:,4:].T
China_female_pop_estimates_T = China_female_pop_estimates.iloc[:,4:].T

In [66]:
China_pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])

In [151]:
male_values_list = []
male_ages_list = []
for i in China_male_pop_estimates_T.columns:
    male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
    male_temp_values_list = China_male_pop_estimates_T[i].to_list()
    male_values_list = male_values_list + male_temp_values_list
    male_ages_list = male_ages_list + male_temp_ages_list

female_values_list = []
female_ages_list = []
for i in China_female_pop_estimates_T.columns:
    female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
    female_temp_values_list = China_female_pop_estimates_T[i].to_list()
    female_values_list = female_values_list + female_temp_values_list
    female_ages_list = female_ages_list + female_temp_ages_list

In [152]:
year_list = []
country_list = []
male_list = []
female_list = []
for i in range(1950,2101):
    for j in range(0,21):
        year_list.append(i)
        country_list.append("China")
        male_list.append("Male")
        female_list.append("Female")

In [153]:
China_male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
China_male_pop_estimates_columns["Time"] = year_list
China_male_pop_estimates_columns["Country"] = country_list
China_male_pop_estimates_columns["Value"] = male_values_list
China_male_pop_estimates_columns["Age"] = male_ages_list
China_male_pop_estimates_columns["Sex"] = male_list

China_female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
China_female_pop_estimates_columns["Time"] = year_list
China_female_pop_estimates_columns["Country"] = country_list
China_female_pop_estimates_columns["Value"] = female_values_list
China_female_pop_estimates_columns["Age"] = female_ages_list
China_female_pop_estimates_columns["Sex"] = female_list

China_pop_estimates_columns = pd.concat([China_male_pop_estimates_columns, China_female_pop_estimates_columns])

In [154]:
China_pop_estimates_columns.to_csv("./data/China_pop_estimates_columns.csv")

In [2]:
young_dependency_ratio_df = pd.read_csv('./data/young_dependency_ratio.csv')
old_dependency_ratio_df = pd.read_csv('./data/old_dependency_ratio.csv')
total_dependency_ratio_df = pd.read_csv('./data/total_dependency_ratio.csv')

In [6]:
value = 'Afghanistan'

In [19]:
young_dependency_ratio = young_dependency_ratio_df['Young to Working Age Dependency Ratio'].loc[young_dependency_ratio_df['Country'] == value]
old_dependency_ratio = old_dependency_ratio_df['Old to Working Age Dependency Ratio'].loc[old_dependency_ratio_df['Country'] == value]
total_dependency_ratio = total_dependency_ratio_df['Young and Old to Working Age Dependency Ratio'].loc[total_dependency_ratio_df['Country'] == value]

In [20]:
young_dependency_ratio_ls = list(young_dependency_ratio)
old_dependency_ratio_ls = list(old_dependency_ratio)
total_dependency_ratio_ls = list(total_dependency_ratio)

In [24]:
young_dependency_ratio_ls for year in list(young_dependency_ratio_df['Time'])

SyntaxError: invalid syntax (234431439.py, line 1)

In [13]:
old_dependency_ratio

     Unnamed: 0  Time      Country  Old to Working Age Dependency Ratio
0             0  1950  Afghanistan                             5.073550
1             1  1951  Afghanistan                             5.084456
2             2  1952  Afghanistan                             5.089547
3             3  1953  Afghanistan                             5.094379
4             4  1954  Afghanistan                             5.098171
..          ...   ...          ...                                  ...
146         146  2096  Afghanistan                            22.931749
147         147  2097  Afghanistan                            23.376140
148         148  2098  Afghanistan                            23.814856
149         149  2099  Afghanistan                            24.246026
150         150  2100  Afghanistan                            24.673151

[151 rows x 4 columns]

In [14]:
total_dependency_ratio

,Unnamed: 0,Time,Country,Young and Old to Working Age Dependency Ratio
0,0,1950,Afghanistan,78.166070
1,1,1951,Afghanistan,78.153716
2,2,1952,Afghanistan,78.172254
3,3,1953,Afghanistan,78.239515
4,4,1954,Afghanistan,78.390207
...,...,...,...,...
146,146,2096,Afghanistan,52.887689
147,147,2097,Afghanistan,53.152947
148,148,2098,Afghanistan,53.412202
149,149,2099,Afghanistan,53.670994
150,150,2100,Afghanistan,53.934922