In [1]:
import pandas as pd
import numpy as np
import os
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
data_estimates_male = pd.read_excel("./data/WPP2022_POP_F02_2_POPULATION_5-YEAR_AGE_GROUPS_MALE.xlsx", header=16)
data_projections_male = pd.read_excel("./data/WPP2022_POP_F02_2_POPULATION_5-YEAR_AGE_GROUPS_MALE.xlsx", sheet_name="Medium variant", header=16)

data_estimates_female = pd.read_excel("./data/WPP2022_POP_F02_3_POPULATION_5-YEAR_AGE_GROUPS_FEMALE.xlsx", header=16)
data_projections_female = pd.read_excel("./data/WPP2022_POP_F02_3_POPULATION_5-YEAR_AGE_GROUPS_FEMALE.xlsx", sheet_name="Medium variant", header=16)

In [3]:
projections_estimates_male = pd.concat([data_estimates_male, data_projections_male])
projections_estimates_female = pd.concat([data_estimates_female, data_projections_female])

In [4]:
UN_countries_set = set(projections_estimates_male["Region, subregion, country or area *"])

In [5]:
drop_list = ["Notes", "Location code", "ISO3 Alpha-code", "ISO2 Alpha-code", "SDMX code**", "Type", "Parent code"]
projections_estimates_male = projections_estimates_male.drop(columns = drop_list)
projections_estimates_female = projections_estimates_female.drop(columns = drop_list)

In [6]:
def country_data_extraction(country):
    if country not in UN_countries_set:
        print('Country is not the UN name of a specific jurisdiction.') 
    else:
    
        male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == f'{country}']
        female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == f'{country}']

        male_pop_estimates_T = male_pop_estimates.iloc[:,4:].T
        female_pop_estimates_T = female_pop_estimates.iloc[:,4:].T
        pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
    
        male_values_list = []
        male_ages_list = []
        for i in male_pop_estimates_T.columns:
            male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            male_temp_values_list = male_pop_estimates_T[i].to_list()
            male_values_list = male_values_list + male_temp_values_list
            male_ages_list = male_ages_list + male_temp_ages_list

        male_values_np_array = np.array(male_values_list)
        male_values_list = list(-male_values_np_array)
    
        female_values_list = []
        female_ages_list = []
        for i in female_pop_estimates_T.columns:
            female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            female_temp_values_list = female_pop_estimates_T[i].to_list()
            female_values_list = female_values_list + female_temp_values_list
            female_ages_list = female_ages_list + female_temp_ages_list

        year_list = []
        country_list = []
        male_list = []
        female_list = []
        for i in range(1950,2101):
            for j in range(0,21):
                year_list.append(i)
                country_list.append(f'{country}')
                male_list.append('Male')
                female_list.append('Female')

        male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        male_pop_estimates_columns["Time"] = year_list
        male_pop_estimates_columns["Country"] = country_list
        male_pop_estimates_columns["Value"] = male_values_list
        male_pop_estimates_columns["Age"] = male_ages_list
        male_pop_estimates_columns["Sex"] = male_list

        female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        female_pop_estimates_columns["Time"] = year_list
        female_pop_estimates_columns["Country"] = country_list
        female_pop_estimates_columns["Value"] = female_values_list
        female_pop_estimates_columns["Age"] = female_ages_list
        female_pop_estimates_columns["Sex"] = female_list

        pop_estimates_columns_df = pd.concat([male_pop_estimates_columns, female_pop_estimates_columns])
  
        return pop_estimates_columns_df

In [7]:
def country_data_extraction(country):
    try:
        male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == f'{country}']
        female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == f'{country}']

        male_pop_estimates_T = male_pop_estimates.iloc[:,4:].T
        female_pop_estimates_T = female_pop_estimates.iloc[:,4:].T
        pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
    
        male_values_list = []
        male_ages_list = []
        for i in male_pop_estimates_T.columns:
            male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            male_temp_values_list = male_pop_estimates_T[i].to_list()
            male_values_list = male_values_list + male_temp_values_list
            male_ages_list = male_ages_list + male_temp_ages_list

        male_values_np_array = np.array(male_values_list)
        male_values_list = list(-male_values_np_array)
    
        female_values_list = []
        female_ages_list = []
        for i in female_pop_estimates_T.columns:
            female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
            female_temp_values_list = female_pop_estimates_T[i].to_list()
            female_values_list = female_values_list + female_temp_values_list
            female_ages_list = female_ages_list + female_temp_ages_list

        year_list = []
        country_list = []
        male_list = []
        female_list = []
        for i in range(1950,2101):
            for j in range(0,21):
                year_list.append(i)
                country_list.append(f'{country}')
                male_list.append('Male')
                female_list.append('Female')

        male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        male_pop_estimates_columns["Time"] = year_list
        male_pop_estimates_columns["Country"] = country_list
        male_pop_estimates_columns["Value"] = male_values_list
        male_pop_estimates_columns["Age"] = male_ages_list
        male_pop_estimates_columns["Sex"] = male_list

        female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
        female_pop_estimates_columns["Time"] = year_list
        female_pop_estimates_columns["Country"] = country_list
        female_pop_estimates_columns["Value"] = female_values_list
        female_pop_estimates_columns["Age"] = female_ages_list
        female_pop_estimates_columns["Sex"] = female_list

        pop_estimates_columns_df = pd.concat([male_pop_estimates_columns, female_pop_estimates_columns])
  
        return pop_estimates_columns_df
    except:
        if country not in UN_countries_set:
           raise Exception('Country is not the UN name of a specific jurisdiction.')

In [8]:
India_pop_estimates_df = country_data_extraction('India')
China_pop_estimates_df = country_data_extraction('China')
United_States_pop_estimates_df = country_data_extraction('United States of America')
Indonesia_pop_estimates_df = country_data_extraction('Indonesia')
Pakistan_pop_estimates_df = country_data_extraction('Pakistan')
Nigeria_pop_estimates_df = country_data_extraction('Nigeria')
Brazil_pop_estimates_df = country_data_extraction('Brazil')
Bangladesh_pop_estimates_df = country_data_extraction('Bangladesh')
Russia_pop_estimates_df = country_data_extraction('Russian Federation')
Mexico_pop_estimates_df = country_data_extraction('Mexico')

In [9]:
UN_10_largest_countries_pop_estimates = pd.concat([India_pop_estimates_df, China_pop_estimates_df,
                                                   United_States_pop_estimates_df, Indonesia_pop_estimates_df, 
                                                   Pakistan_pop_estimates_df, Nigeria_pop_estimates_df, 
                                                   Brazil_pop_estimates_df, Bangladesh_pop_estimates_df,
                                                   Russia_pop_estimates_df, Mexico_pop_estimates_df])

In [10]:
working_age_growth_df = pd.DataFrame()
working_age_growth_df = UN_10_largest_countries_pop_estimates.loc[UN_10_largest_countries_pop_estimates['Sex'] == 'Male']

In [11]:
working_age_growth_df['Value'] = working_age_growth_df['Value'] * -1

C:\Users\MAhern\AppData\Local\Temp\ipykernel_22980\3300670178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_age_growth_df['Value'] = working_age_growth_df['Value'] * -1

In [12]:
working_age_growth_df = pd.concat([working_age_growth_df, UN_10_largest_countries_pop_estimates.loc[UN_10_largest_countries_pop_estimates['Sex'] == 'Female']])

In [13]:
working_age_df = pysqldf("SELECT * FROM working_age_growth_df WHERE Age in (19,24,29,34,39,44,49,54,59,64);")

In [14]:
aggregated_working_age_growth_df = pysqldf("SELECT Time, Sex, SUM(Value) AS 'Working Age Population', Country FROM working_age_df GROUP BY Country, Time, Sex;")

In [15]:
male_aggregated_working_age_growth_df = aggregated_working_age_growth_df.loc[aggregated_working_age_growth_df['Sex'] == 'Male']
female_aggregated_working_age_growth_df = aggregated_working_age_growth_df.loc[aggregated_working_age_growth_df['Sex'] == 'Female']

In [16]:
filtered_male_aggregated_working_age_growth_df = male_aggregated_working_age_growth_df.loc[(male_aggregated_working_age_growth_df['Time'] <= 2050) & (male_aggregated_working_age_growth_df['Time'] % 10 == 0)]
filtered_female_aggregated_working_age_growth_df = female_aggregated_working_age_growth_df.loc[(female_aggregated_working_age_growth_df['Time'] <= 2050) & (female_aggregated_working_age_growth_df['Time'] % 10 == 0)]

In [17]:
filtered_all_aggregated_working_age_growth_df = pd.DataFrame()
filtered_all_aggregated_working_age_growth_df['Time'] = filtered_male_aggregated_working_age_growth_df['Time']
filtered_all_aggregated_working_age_growth_df['Country'] = filtered_male_aggregated_working_age_growth_df['Country']
filtered_all_aggregated_working_age_growth_df['Working Age Population'] = list(filtered_female_aggregated_working_age_growth_df.set_index('Time')['Working Age Population'] + filtered_male_aggregated_working_age_growth_df.set_index('Time')['Working Age Population'])

In [18]:
pivot_filtered_male_aggregated_working_age_growth_df = filtered_male_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')
pivot_filtered_female_aggregated_working_age_growth_df = filtered_female_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')
pivot_filtered_all_aggregated_working_age_growth_df = filtered_all_aggregated_working_age_growth_df.pivot(index='Time', columns=['Country'], values='Working Age Population')

In [19]:
all_pct_change_df = pivot_filtered_all_aggregated_working_age_growth_df.pct_change()

In [20]:
all_pct_change_df

Country,Bangladesh,Brazil,China,India,Indonesia,Mexico,Nigeria,Pakistan,Russian Federation,United States of America
Time,,,,,,,,,,
1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,0.263307,0.310630,0.113078,0.189882,0.288848,0.255743,0.213452,0.255332,0.126586,0.099722
1970,0.275024,0.340279,0.250737,0.231099,0.226169,0.358440,0.212595,0.229764,0.132487,0.174152
1980,0.228702,0.353772,0.282521,0.276258,0.322486,0.407627,0.269857,0.372094,0.095200,0.191878
1990,0.329526,0.285893,0.299470,0.281310,0.323690,0.325662,0.286671,0.412633,0.053168,0.110275
2000,0.325288,0.251522,0.141064,0.269930,0.256668,0.280126,0.326623,0.358023,0.025720,0.140007
2010,0.211763,0.179900,0.134727,0.238552,0.172156,0.210111,0.289026,0.339764,0.013709,0.116031
2020,0.222856,0.110201,0.005438,0.182935,0.137186,0.166886,0.315199,0.199635,-0.054464,0.049968
2030,0.122674,0.033585,-0.016302,0.111656,0.090057,0.094537,0.325889,0.274484,-0.051147,0.012324
2040,0.061187,-0.002294,-0.108818,0.056372,0.034842,0.023488,0.286177,0.220640,-0.040637,0.015399
2050,0.011858,-0.050563,-0.114535,0.015068,0.004401,-0.015356,0.240530,0.174779,-0.101132,0.011940

In [21]:
all_joined_df = pivot_filtered_all_aggregated_working_age_growth_df.join(all_pct_change_df, on=['Time'],  lsuffix=' Working Age Population', rsuffix=' Working Age Growth')

In [80]:
arrays = [
    np.array(["Bangladesh","Bangladesh", "Brazil", "Brazil","China", "China","India", "India","Indonesia", "Indonesia","Mexico","Mexico", "Nigeria","Nigeria", "Pakistan","Pakistan", "Russia","Russia", "United States","United States"]),
    np.array(["Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth","Population","Growth"]),
]

pop_growth_multi_df = pd.DataFrame(columns=arrays)
pop_growth_multi_df['Bangladesh','Population'] = all_joined_df['Bangladesh Working Age Population']/1000
pop_growth_multi_df['Bangladesh','Growth'] = all_joined_df['Bangladesh Working Age Growth']
pop_growth_multi_df['Brazil','Population'] = all_joined_df['Brazil Working Age Population']/1000
pop_growth_multi_df['Brazil','Growth'] = all_joined_df['Brazil Working Age Growth']
pop_growth_multi_df['China','Population'] = all_joined_df['China Working Age Population']/1000
pop_growth_multi_df['China','Growth'] = all_joined_df['China Working Age Growth']
pop_growth_multi_df['India','Population'] = all_joined_df['India Working Age Population']/1000
pop_growth_multi_df['India','Growth'] = all_joined_df['India Working Age Growth']
pop_growth_multi_df['Indonesia','Population'] = all_joined_df['Indonesia Working Age Population']/1000
pop_growth_multi_df['Indonesia','Growth'] = all_joined_df['Indonesia Working Age Growth']
pop_growth_multi_df['Mexico','Population'] = all_joined_df['Mexico Working Age Population']/1000
pop_growth_multi_df['Mexico','Growth'] = all_joined_df['Mexico Working Age Growth']
pop_growth_multi_df['Nigeria','Population'] = all_joined_df['Nigeria Working Age Population']/1000
pop_growth_multi_df['Nigeria','Growth'] = all_joined_df['Nigeria Working Age Growth']
pop_growth_multi_df['Pakistan','Population'] = all_joined_df['Pakistan Working Age Population']/1000
pop_growth_multi_df['Pakistan','Growth'] = all_joined_df['Pakistan Working Age Growth']
pop_growth_multi_df['Russia','Population'] = all_joined_df['Russian Federation Working Age Population']/1000
pop_growth_multi_df['Russia','Growth'] = all_joined_df['Russian Federation Working Age Growth']
pop_growth_multi_df['United States','Population'] = all_joined_df['United States of America Working Age Population']/1000
pop_growth_multi_df['United States','Growth'] = all_joined_df['United States of America Working Age Growth']

pop_growth_multi_df = pop_growth_multi_df.fillna(0)

In [81]:
pop_growth_multi_df['Bangladesh','Population'] = pop_growth_multi_df['Bangladesh','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Bangladesh','Growth'] = pop_growth_multi_df['Bangladesh','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Brazil','Population'] = pop_growth_multi_df['Brazil','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Brazil','Growth'] = pop_growth_multi_df['Brazil','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['China','Population'] = pop_growth_multi_df['China','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['China','Growth'] = pop_growth_multi_df['China','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['India','Population'] = pop_growth_multi_df['India','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['India','Growth'] = pop_growth_multi_df['India','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Indonesia','Population'] = pop_growth_multi_df['Indonesia','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Indonesia','Growth'] = pop_growth_multi_df['Indonesia','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Mexico','Population'] = pop_growth_multi_df['Mexico','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Mexico','Growth'] = pop_growth_multi_df['Mexico','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Nigeria','Population'] = pop_growth_multi_df['Nigeria','Population'].map("{:,.2f}".format)
pop_growth_multi_df['Nigeria','Growth'] = pop_growth_multi_df['Nigeria','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Pakistan','Population'] = pop_growth_multi_df['Pakistan','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Pakistan','Growth'] = pop_growth_multi_df['Pakistan','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['Russia','Population'] = pop_growth_multi_df['Russia','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['Russia','Growth'] = pop_growth_multi_df['Russia','Growth'].map("{:,.1%}".format)
pop_growth_multi_df['United States','Population'] = pop_growth_multi_df['United States','Population'].map("{:,.2f}M".format)
pop_growth_multi_df['United States','Growth'] = pop_growth_multi_df['United States','Growth'].map("{:,.1%}".format)

In [195]:
pop_growth_multi_df.xs('Population', level=1, axis = 1)

,Bangladesh,Brazil,China,India,Indonesia,Mexico,Nigeria,Pakistan,Russia,United States
Time,,,,,,,,,,
1950,21.83M,29.72M,327.29M,210.59M,39.64M,14.59M,20.61,20.37M,67.45M,96.05M
1960,27.58M,38.95M,364.29M,250.57M,51.09M,18.33M,25.01,25.57M,75.99M,105.63M
1970,35.17M,52.20M,455.64M,308.48M,62.65M,24.89M,30.33,31.45M,86.05M,124.03M
1980,43.21M,70.67M,584.36M,393.70M,82.85M,35.04M,38.51,43.15M,94.24M,147.83M
1990,57.45M,90.87M,759.36M,504.45M,109.67M,46.45M,49.55,60.95M,99.26M,164.13M
2000,76.13M,113.72M,866.48M,640.62M,137.81M,59.46M,65.74,82.77M,101.81M,187.11M
2010,92.26M,134.18M,983.22M,793.44M,161.54M,71.96M,84.74,110.89M,103.20M,208.82M
2020,112.82M,148.97M,988.57M,938.59M,183.70M,83.97M,111.45,133.03M,97.58M,219.25M
2030,126.66M,153.97M,972.45M,"1,043.39M",200.24M,91.91M,147.76,169.55M,92.59M,221.96M
2040,134.41M,153.62M,866.63M,"1,102.20M",207.22M,94.06M,190.05,206.96M,88.83M,225.37M
2050,136.00M,145.85M,767.37M,"1,118.81M",208.13M,92.62M,235.77,243.13M,79.85M,228.06M

In [96]:
pop_growth_multi_df.to_csv('./data/pop_growth_multi.csv')

In [102]:
#read_pop_growth_multi_df = pd.read_csv('./data/pop_growth_multi.csv', skipinitialspace=True, index_col=0, header=[0,1], skiprows=[2])

In [179]:
read_pop_growth_multi_df = pd.read_csv('./data/pop_growth_multi.csv', skiprows=[2])

In [189]:
read_pop_growth_multi_df.rename(columns={'Unnamed: 0':'', 'Bangladesh':'Bangladesh', 'Bangladesh.1':'', 'Brazil':'Brazil', 'Brazil.1':'',
       'China':'China', 'China.1':'', 'India':'India', 'India.1':'', 'Indonesia':'Indonesia', 'Indonesia.1':'',
       'Mexico':'Mexico', 'Mexico.1':'', 'Mexico':'Mexico', 'Nigeria.1':'', 'Pakistan':'Pakistan', 'Pakistan.1':'',
       'Russia':'Russia', 'Russia.1':'', 'United States':'United States', 'United States.1':''}, inplace=True)

In [190]:
pop_growth_dict=read_pop_growth_multi_df.to_dict('records')

C:\Users\MAhern\AppData\Local\Temp\ipykernel_22980\3020710323.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  pop_growth_dict=read_pop_growth_multi_df.to_dict('records')

In [191]:
pop_growth_dict

[{'': 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {'': '0.0%',
  'Bangladesh': '21.83M',
  'Brazil': '29.72M',
  'China': '327.29M',
  'India': '210.59M',
  'Indonesia': '39.64M',
  'Mexico': '14.59M',
  'Nigeria': '20.61',
  'Pakistan': '20.37M',
  'Russia': '67.45M',
  'United States': '96.05M'},
 {'': '10.0%',
  'Bangladesh': '27.58M',
  'Brazil': '38.95M',
  'China': '364.29M',
  'India': '250.57M',
  'Indonesia': '51.09M',
  'Mexico': '18.33M',
  'Nigeria': '25.01',
  'Pakistan': '25.57M',
  'Russia': '75.99M',
  'United States': '105.63M'},
 {'': '17.4%',
  'Bangladesh': '35.17M',
  'Brazil': '52.20M',
  'China': '455.64M',
  'India': '308.48M',
  'Indonesia': '62.65M',
  'Mexico': '24.89M',
  'Nigeria': '30.33',
  'Pakistan': '31.45M',
  'Russia': '86.05M',
  'United States': '124.03M'},
 {'': '19.2%',
  'Bangladesh': '43.21M',
  'Brazil': '70.67M',
  'China': '584.36M',
  'India': '393.70M',
  'Indonesia': '82.85M',
  'Mexico': '35.04M',
  'Nigeria': '38.51',
  'Pakistan': '43.15M',
  'Russia': '94.24M',
  'United States': '147.83M'},
 {'': '11.0%',
  'Bangladesh': '57.45M',
  'Brazil': '90.87M',
  'China': '759.36M',
  'India': '504.45M',
  'Indonesia': '109.67M',
  'Mexico': '46.45M',
  'Nigeria': '49.55',
  'Pakistan': '60.95M',
  'Russia': '99.26M',
  'United States': '164.13M'},
 {'': '14.0%',
  'Bangladesh': '76.13M',
  'Brazil': '113.72M',
  'China': '866.48M',
  'India': '640.62M',
  'Indonesia': '137.81M',
  'Mexico': '59.46M',
  'Nigeria': '65.74',
  'Pakistan': '82.77M',
  'Russia': '101.81M',
  'United States': '187.11M'},
 {'': '11.6%',
  'Bangladesh': '92.26M',
  'Brazil': '134.18M',
  'China': '983.22M',
  'India': '793.44M',
  'Indonesia': '161.54M',
  'Mexico': '71.96M',
  'Nigeria': '84.74',
  'Pakistan': '110.89M',
  'Russia': '103.20M',
  'United States': '208.82M'},
 {'': '5.0%',
  'Bangladesh': '112.82M',
  'Brazil': '148.97M',
  'China': '988.57M',
  'India': '938.59M',
  'Indonesia': '183.70M',
  'Mexico': '83.97M',
  'Nigeria': '111.45',
  'Pakistan': '133.03M',
  'Russia': '97.58M',
  'United States': '219.25M'},
 {'': '1.2%',
  'Bangladesh': '126.66M',
  'Brazil': '153.97M',
  'China': '972.45M',
  'India': '1,043.39M',
  'Indonesia': '200.24M',
  'Mexico': '91.91M',
  'Nigeria': '147.76',
  'Pakistan': '169.55M',
  'Russia': '92.59M',
  'United States': '221.96M'},
 {'': '1.5%',
  'Bangladesh': '134.41M',
  'Brazil': '153.62M',
  'China': '866.63M',
  'India': '1,102.20M',
  'Indonesia': '207.22M',
  'Mexico': '94.06M',
  'Nigeria': '190.05',
  'Pakistan': '206.96M',
  'Russia': '88.83M',
  'United States': '225.37M'},
 {'': '1.2%',
  'Bangladesh': '136.00M',
  'Brazil': '145.85M',
  'China': '767.37M',
  'India': '1,118.81M',
  'Indonesia': '208.13M',
  'Mexico': '92.62M',
  'Nigeria': '235.77',
  'Pakistan': '243.13M',
  'Russia': '79.85M',
  'United States': '228.06M'}]

In [174]:
for i in range(0,12):
    pop_growth_dict[i] =  {np.nan: np.nan,'Bangladesh': 'Population',np.nan: 'Growth','Brazil': 'Population',np.nan: 'Growth','China': 'Population',np.nan: 'Growth','India': 'Population',np.nan: 'Growth','Indonesia': 'Population',np.nan: 'Growth','Mexico': 'Population',np.nan: 'Growth','Nigeria': 'Population',np.nan: 'Growth','Pakistan': 'Population',np.nan: 'Growth','Russia': 'Population',np.nan: 'Growth','United States': 'Population',np.nan: 'Growth'}

In [176]:
pop_growth_dict[0] = {
 np.nan: np.nan,
 'Bangladesh': 'Population',
 np.nan: 'Growth',
 'Brazil': 'Population',
 np.nan: 'Growth',
 'China': 'Population',
 np.nan: 'Growth',
 'India': 'Population',
 np.nan: 'Growth',
 'Indonesia': 'Population',
 np.nan: 'Growth',
 'Mexico': 'Population',
 np.nan: 'Growth',
 'Nigeria': 'Population',
 np.nan: 'Growth',
 'Pakistan': 'Population',
 np.nan: 'Growth',
 'Russia': 'Population',
 np.nan: 'Growth',
 'United States': 'Population',
 np.nan: 'Growth'
}

In [169]:
pop_growth_dict

[{nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'},
 {nan: 'Growth',
  'Bangladesh': 'Population',
  'Brazil': 'Population',
  'China': 'Population',
  'India': 'Population',
  'Indonesia': 'Population',
  'Mexico': 'Population',
  'Nigeria': 'Population',
  'Pakistan': 'Population',
  'Russia': 'Population',
  'United States': 'Population'}]

In [153]:
pop_growth_dict[2].keys()

dict_keys([nan, 'Bangladesh', 'Brazil', 'China', 'India', 'Indonesia', 'Mexico', 'Nigeria', 'Pakistan', 'Russia', 'United States'])

In [140]:
pivot_filtered_female_aggregated_working_age_growth_df

Country,Bangladesh,Brazil,China,India,Indonesia,Mexico,Nigeria,Pakistan,Russian Federation,United States of America
Time,,,,,,,,,,
1950,10301.1195,14768.2935,158698.8850,101403.9665,19766.8815,7435.1735,10391.3270,8902.3110,39862.2940,48665.6325
1960,13040.1365,19422.5255,176431.4370,121010.5505,25678.9830,9192.6395,12500.4445,11347.3645,43068.3835,53253.4610
1970,16715.0605,26283.7595,221660.6420,148626.2155,31689.4515,12464.1425,15170.8090,14292.2845,46807.0100,63127.6890
1980,21121.6130,35729.9775,284886.9305,189104.3665,41752.8255,17885.6945,19240.3905,20247.8600,49524.0270,74715.0940
1990,28070.9630,46023.4150,371118.5900,242944.6585,55026.0155,23951.5760,24721.2750,29249.2320,51130.7190,82284.1625
2000,37392.0460,57564.6545,424272.3455,308668.2325,68661.1310,30833.9660,32778.1680,40087.9630,52657.2245,93858.1060
2010,46598.0985,68006.6730,480767.1385,382761.3680,79881.8080,37152.3320,42163.5155,53957.7215,53828.1885,104990.4860
2020,57294.5690,75332.3170,479814.8440,452534.7650,90578.1140,43188.3085,55169.4575,66045.0915,50533.8615,109225.6300
2030,64459.7240,77568.9560,467016.3660,502751.0710,98625.5415,47124.0940,72916.4235,84322.3585,47387.7345,110290.6795
2040,68263.0385,77027.8510,411579.0875,531588.3895,101944.4685,48009.6255,93743.6550,103078.4910,45152.4640,111859.3610
2050,68648.1255,72734.0335,362513.1625,541050.2280,102367.8495,46983.1610,116450.1065,121208.5960,40206.6220,113084.6085

In [121]:
aggregated_working_age_growth_df.pivot(index='Time', columns=['Country', 'Sex'], values='Working Age Population')

Country Bangladesh              Brazil               China            \
Sex         Female      Male    Female      Male    Female      Male
Time
1950           NaN       NaN       NaN       NaN       NaN       NaN
1951      0.024959  0.024662  0.028788  0.025990  0.011571  0.011300
1952      0.025014  0.024823  0.028365  0.026344  0.011041  0.011595
1953      0.023891  0.023824  0.028167  0.026601  0.010573  0.011712
1954      0.023298  0.023226  0.028029  0.027003  0.010136  0.011180
...            ...       ...       ...       ...       ...       ...
2096     -0.008963 -0.009296 -0.007749 -0.007493 -0.009051 -0.009265
2097     -0.008912 -0.009248 -0.007718 -0.007471 -0.009411 -0.009576
2098     -0.008820 -0.009160 -0.007685 -0.007441 -0.009875 -0.010003
2099     -0.008766 -0.009120 -0.007673 -0.007434 -0.010330 -0.010428
2100     -0.008727 -0.009093 -0.007689 -0.007455 -0.010822 -0.010892

Country     India           Indonesia              Mexico             Nigeria  \
Sex        Female      Male    Female      Male    Female      Male    Female
Time
1950          NaN       NaN       NaN       NaN       NaN       NaN       NaN
1951     0.019697  0.019059  0.029746  0.028866  0.020025  0.022031  0.019455
1952     0.018912  0.018335  0.029442  0.028410  0.017857  0.021914  0.019304
1953     0.017981  0.017416  0.028492  0.027367  0.017544  0.022521  0.018719
1954     0.017542  0.016959  0.027426  0.026158  0.018386  0.023516  0.018314
...           ...       ...       ...       ...       ...       ...       ...
2096    -0.006807 -0.006709 -0.005231 -0.004873 -0.010140 -0.009931  0.001479
2097    -0.006858 -0.006744 -0.005348 -0.004985 -0.010384 -0.010187  0.001245
2098    -0.006854 -0.006728 -0.005493 -0.005125 -0.010525 -0.010344  0.001014
2099    -0.006863 -0.006721 -0.005630 -0.005259 -0.010659 -0.010490  0.000807
2100    -0.006898 -0.006742 -0.005796 -0.005424 -0.010793 -0.010634  0.000617

Country            Pakistan           Russian Federation            \
Sex          Male    Female      Male             Female      Male
Time
1950          NaN       NaN       NaN                NaN       NaN
1951     0.021405  0.021200  0.019462           0.014986  0.025179
1952     0.021230  0.022031  0.020004           0.017679  0.029925
1953     0.020610  0.022850  0.020554           0.018253  0.031080
1954     0.020146  0.023731  0.021174           0.014575  0.025405
...           ...       ...       ...                ...       ...
2096     0.000928 -0.000336  0.000004          -0.000862 -0.000665
2097     0.000707 -0.000536 -0.000172          -0.001061 -0.000880
2098     0.000479 -0.000714 -0.000329          -0.001334 -0.001161
2099     0.000280 -0.000898 -0.000492          -0.001653 -0.001483
2100     0.000106 -0.001107 -0.000683          -0.002038 -0.001869

Country United States of America
Sex                       Female      Male
Time
1950                         NaN       NaN
1951                    0.004913  0.010291
1952                    0.004921  0.010802
1953                    0.007602  0.004171
1954                    0.007751  0.008265
...                          ...       ...
2096                   -0.000768 -0.000643
2097                   -0.000884 -0.000760
2098                   -0.001004 -0.000882
2099                   -0.001063 -0.000943
2100                   -0.001101 -0.000987

[151 rows x 20 columns]

In [34]:
working_age_pivot_df = working_age_growth_df.pivot(index='Time', columns=['Sex', 'Age', 'Country'], values='Value')

In [57]:
working_age_pivot_df

Sex            Male                                                  \
Age             4           9           14          19          24
Country       India       India       India       India       India
Time
1950     27330.1840  21411.5365  20064.4950  18461.8485  16847.7380
1951     28702.9550  21809.8035  20240.6535  18707.1295  17100.1470
1952     30120.3300  22267.2620  20388.7200  18977.4935  17329.3090
1953     31564.0120  22802.9325  20547.0250  19246.1970  17535.1815
1954     32743.6535  23701.7795  20768.9800  19481.1670  17738.2420
...             ...         ...         ...         ...         ...
2096     36242.3725  37417.5465  38512.3930  39667.8705  41165.8810
2097     35977.8095  37196.1620  38287.6580  39348.4180  40834.3415
2098     35718.3290  36951.3080  38049.2330  39086.3650  40481.0730
2099     35455.5755  36684.4560  37822.8525  38852.3270  40115.1775
2100     35183.6950  36428.3970  37600.3690  38622.9575  39772.1510

Sex                                                                  ...  \
Age             29          34          39          44          49   ...
Country       India       India       India       India       India  ...
Time                                                                 ...
1950     14957.0950  13242.6780  11495.5870  10105.9535   8207.4805  ...
1951     15227.1955  13491.5520  11703.4800  10306.6140   8413.9975  ...
1952     15505.6620  13725.3655  11938.5340  10459.7875   8677.4640  ...
1953     15776.2505  13944.5350  12186.5350  10584.0935   8965.9415  ...
1954     16029.7070  14167.0595  12430.3080  10721.7910   9229.5350  ...
...             ...         ...         ...         ...         ...  ...
2096     42644.0530  43940.9740  44842.1090  45629.7585  46776.5240  ...
2097     42287.3250  43653.0030  44617.4105  45412.5465  46455.3955  ...
2098     41935.6515  43341.4835  44396.3680  45217.4095  46130.6135  ...
2099     41586.0805  43028.7315  44174.6885  45025.0865  45817.8010  ...
2100     41224.6840  42709.9950  43946.8620  44812.7045  45551.7130  ...

Sex         Female                                                         \
Age            59         64         69         74         79         84
Country     Mexico     Mexico     Mexico     Mexico     Mexico     Mexico
Time
1950      308.9985   254.3710   174.4055   115.5055    70.0930    42.9600
1951      315.4635   254.8580   179.8150   116.7030    70.2005    42.5280
1952      324.5545   254.2635   185.0935   117.9715    71.3785    42.6345
1953      335.4340   254.4925   190.2570   119.3630    73.0120    42.7565
1954      347.2870   255.8800   194.7075   121.3370    74.9075    43.3255
...            ...        ...        ...        ...        ...        ...
2096     3766.4070  3906.5120  3915.9490  3862.7975  3931.8155  3831.9190
2097     3724.4295  3883.8855  3910.1100  3850.3840  3845.1675  3802.2100
2098     3680.6810  3857.9135  3903.4820  3838.6525  3777.0430  3755.8835
2099     3636.3465  3826.3450  3893.9505  3829.3590  3731.2335  3691.7840
2100     3592.4170  3791.0350  3881.0810  3822.0125  3694.6055  3624.0800

Sex
Age            89         94        99        100
Country     Mexico     Mexico    Mexico    Mexico
Time
1950       17.3340     3.8800    0.4385    0.0230
1951       18.7205     5.0440    0.8845    0.0795
1952       20.7735     6.5965    1.4445    0.1465
1953       22.6070     8.0505    1.9490    0.2040
1954       24.1015     9.4315    2.4240    0.2585
...            ...        ...       ...       ...
2096     3106.5640  2021.9455  876.7555  224.8445
2097     3123.3050  2039.7660  895.3855  232.7320
2098     3136.0870  2058.1735  913.4925  240.8830
2099     3143.9010  2078.1655  930.5515  249.3455
2100     3146.4570  2099.6275  946.3385  258.2065

[151 rows x 420 columns]

In [63]:
working_age_pivot_df.groupby(level=['Age'])[19,24]

ValueError: level name Age is not the name of the index

In [54]:
working_age_pivot_df.xs('Male', level='Sex', axis = 1).xs(19, level='Age', axis = 1)

Country,India,China,United States of America,Indonesia,Pakistan,Nigeria,Brazil,Bangladesh,Russian Federation,Mexico
Time,,,,,,,,,,
1950,18461.8485,27570.5835,5148.8605,3886.0595,2034.6270,1901.5210,2811.3080,2093.6355,5030.8420,1335.7710
1951,18707.1295,28042.0925,5247.2190,3970.7725,2076.9775,1943.9175,2859.5975,2146.3245,5172.1490,1375.4490
1952,18977.4935,28473.2415,5363.3715,4055.9600,2120.3060,1988.3710,2921.3725,2198.2210,5575.7840,1418.0450
1953,19246.1970,28612.6835,5280.8880,4135.4995,2165.5760,2033.5280,2996.1620,2247.3245,6088.5110,1464.1355
1954,19481.1670,28467.5225,5290.0345,4204.3075,2214.5600,2078.0945,3085.8920,2293.9295,6380.9145,1516.2850
...,...,...,...,...,...,...,...,...,...,...
2096,39667.8705,16404.6895,9773.7205,8405.9580,16045.7080,19752.8215,4411.9020,4542.5945,3123.1215,2650.7170
2097,39348.4180,16128.5670,9745.9565,8345.1740,15986.0485,19682.9655,4376.3230,4506.0995,3102.4055,2619.8180
2098,39086.3650,15824.3080,9719.3610,8282.1170,15940.1135,19615.4615,4343.3400,4471.3035,3077.4860,2589.1140
2099,38852.3270,15495.5855,9698.5370,8218.1970,15892.9775,19551.4735,4311.1210,4436.2825,3049.8315,2559.0940
2100,38622.9575,15162.0225,9682.8210,8152.2810,15844.5145,19488.0530,4279.6250,4398.6880,3019.9695,2529.9100

In [56]:
working_age_pivot_df.xs('Male', level='Sex', axis = 1)

Age,4,9,14,19,24,29,34,39,44,49,...,59,64,69,74,79,84,89,94,99,100
Country,India,India,India,India,India,India,India,India,India,India,...,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico,Mexico
Time,,,,,,,,,,,,,,,,,,,,,
1950,27330.1840,21411.5365,20064.4950,18461.8485,16847.7380,14957.0950,13242.6780,11495.5870,10105.9535,8207.4805,...,294.4115,240.2850,165.7565,106.5490,71.1395,38.1760,14.5865,3.4435,0.4375,0.0255
1951,28702.9550,21809.8035,20240.6535,18707.1295,17100.1470,15227.1955,13491.5520,11703.4800,10306.6140,8413.9975,...,302.0940,240.7425,170.6380,107.2600,69.8120,38.6540,15.7280,4.4825,0.8325,0.0780
1952,30120.3300,22267.2620,20388.7200,18977.4935,17329.3090,15505.6620,13725.3655,11938.5340,10459.7875,8677.4640,...,313.8535,240.8105,175.4045,108.8685,68.7565,39.7495,17.3780,5.8570,1.3410,0.1435
1953,31564.0120,22802.9325,20547.0250,19246.1970,17535.1815,15776.2505,13944.5350,12186.5350,10584.0935,8965.9415,...,328.0975,241.8195,179.8740,110.9965,68.0440,40.8815,18.9785,7.1280,1.8115,0.2030
1954,32743.6535,23701.7795,20768.9800,19481.1670,17738.2420,16029.7070,14167.0595,12430.3080,10721.7910,9229.5350,...,343.4540,244.3280,183.7580,113.7005,68.0360,41.9335,20.5445,8.3160,2.2555,0.2600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,36242.3725,37417.5465,38512.3930,39667.8705,41165.8810,42644.0530,43940.9740,44842.1090,45629.7585,46776.5240,...,3790.5625,3889.5075,3843.7020,3712.6990,3640.8555,3361.4860,2506.0300,1407.8375,480.3300,82.2515
2097,35977.8095,37196.1620,38287.6580,39348.4180,40834.3415,42287.3250,43653.0030,44617.4105,45412.5465,46455.3955,...,3751.3860,3870.8990,3842.5905,3705.8910,3573.4955,3339.6440,2525.8690,1425.1120,493.2885,85.5170
2098,35718.3290,36951.3080,38049.2330,39086.3650,40481.0730,41935.6515,43341.4835,44396.3680,45217.4095,46130.6135,...,3710.0930,3848.8620,3840.5690,3699.9835,3523.4790,3302.4640,2541.4390,1442.8990,506.0815,88.9530
2099,35455.5755,36684.4560,37822.8525,38852.3270,40115.1775,41586.0805,43028.7315,44174.6885,45025.0865,45817.8010,...,3667.9925,3821.1370,3835.5900,3696.4320,3489.9920,3253.5825,2552.2050,1461.9455,518.1540,92.5740
2100,35183.6950,36428.3970,37600.3690,38622.9575,39772.1510,41224.6840,42709.9950,43946.8620,44812.7045,45551.7130,...,3626.2745,3789.5705,3827.2525,3694.6310,3461.2450,3206.2270,2557.8270,1482.1110,529.1175,96.3885

In [37]:
China_male_pop_estimates = projections_estimates_male.loc[projections_estimates_male["Region, subregion, country or area *"] == "China"]
China_female_pop_estimates = projections_estimates_female.loc[projections_estimates_female["Region, subregion, country or area *"] == "China"]

In [88]:
China_male_pop_estimates_T = China_male_pop_estimates.iloc[:,4:].T
China_female_pop_estimates_T = China_female_pop_estimates.iloc[:,4:].T

In [66]:
China_pop_estimates = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])

In [151]:
male_values_list = []
male_ages_list = []
for i in China_male_pop_estimates_T.columns:
    male_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
    male_temp_values_list = China_male_pop_estimates_T[i].to_list()
    male_values_list = male_values_list + male_temp_values_list
    male_ages_list = male_ages_list + male_temp_ages_list

female_values_list = []
female_ages_list = []
for i in China_female_pop_estimates_T.columns:
    female_temp_ages_list = [4,9,14,19,24,29,34,39,44,49,54,59,64,69,74,79,84,89,94,99,100]
    female_temp_values_list = China_female_pop_estimates_T[i].to_list()
    female_values_list = female_values_list + female_temp_values_list
    female_ages_list = female_ages_list + female_temp_ages_list

In [152]:
year_list = []
country_list = []
male_list = []
female_list = []
for i in range(1950,2101):
    for j in range(0,21):
        year_list.append(i)
        country_list.append("China")
        male_list.append("Male")
        female_list.append("Female")

In [153]:
China_male_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
China_male_pop_estimates_columns["Time"] = year_list
China_male_pop_estimates_columns["Country"] = country_list
China_male_pop_estimates_columns["Value"] = male_values_list
China_male_pop_estimates_columns["Age"] = male_ages_list
China_male_pop_estimates_columns["Sex"] = male_list

China_female_pop_estimates_columns = pd.DataFrame(columns=["Time","Age","Sex","Value","Country"])
China_female_pop_estimates_columns["Time"] = year_list
China_female_pop_estimates_columns["Country"] = country_list
China_female_pop_estimates_columns["Value"] = female_values_list
China_female_pop_estimates_columns["Age"] = female_ages_list
China_female_pop_estimates_columns["Sex"] = female_list

China_pop_estimates_columns = pd.concat([China_male_pop_estimates_columns, China_female_pop_estimates_columns])

In [154]:
China_pop_estimates_columns.to_csv("./data/China_pop_estimates_columns.csv")